@charset "utf-8";
/* CSS Document */


@font-face {
	font-family: "Avenir LT 45 Book";
	src: url('../fonts/avenir/550537110-Avenir-LT-45-Book.eot');
	src: url('../fonts/avenir/550537110-Avenir-LT-45-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/avenir/550537110-Avenir-LT-45-Book.svg#Avenir LT 45 Book') format('svg'),
	url('../fonts/avenir/550537110-Avenir-LT-45-Book.woff') format('woff'),
	url('../fonts/avenir/550537110-Avenir-LT-45-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Avenir LT 65 Medium";
	src: url('../fonts/avenir/391113282-Avenir-LT-65-Medium.eot');
	src: url('../fonts/avenir/391113282-Avenir-LT-65-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/avenir/391113282-Avenir-LT-65-Medium.svg#Avenir LT 65 Medium') format('svg'),
	url('../fonts/avenir/391113282-Avenir-LT-65-Medium.woff') format('woff'),
	url('../fonts/avenir/391113282-Avenir-LT-65-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Avenir LT 95 Black";
	src: url('../fonts/avenir/314483643-Avenir-LT-95-Black.eot');
	src: url('../fonts/avenir/314483643-Avenir-LT-95-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/avenir/314483643-Avenir-LT-95-Black.svg#Avenir LT 65 Medium') format('svg'),
	url('../fonts/avenir/314483643-Avenir-LT-95-Black.woff') format('woff'),
	url('../fonts/avenir/314483643-Avenir-LT-95-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width:100%;
	height:100%;
}
body {
	
	margin: 0;
	padding: 0;
	background:url(../images/bg.png) #fbfaf9;
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
	font-family:'Merriweather',serif;
	position:relative;
}
a {
	outline: none;
	text-decoration: none;
}
.c {clear: both;}

img {border: 0;}

input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'Merriweather', serif;
}
button::-moz-focus-inner {
  border: 0;
}

h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	font-weight:normal;
}

img {
	border: 0;
	vertical-align: top;
	max-width:100%;
	height: auto;
	width: auto\9; /* ie8 */
}


.header-wrap{
	/*background:url(../images/bg-img.jpg) no-repeat center top;
	height:976px;
	background-size:cover;
	height:786px;*/
	height:100%;
	width:100%;
	overflow:hidden;
	position:relative;
	background:url(../images/mobile-social-bg-pattern.png) #203643;

}

.header-pattern{
	background:url(../images/video-pattern.png);
	/*height:976px;*/
	height:786px;
	position:absolute;
	width:100%;
	/*height:100%;*/
	bottom:0;
}



.nav-wrap{
	background:url(../images/nav-pattern.jpg);
	padding:19px 0;
	/*margin-top:50px;*/
	display:inline-block;
	width:100%;
	z-index:1235;
	/*position:fixed;*/
}

.wrap{
	max-width:980px;
	margin:0 auto;
	position:relative;
}

.logo{
	position:absolute;
	width:242px;
	height:132px;
	top:-47px;
	left:36%;
	z-index:1234;
}


nav{}

nav ul{
	margin:0;
	padding:0;
}

nav ul li{
	list-style:none;
	float:left;
	}
	
.what-we-do-nav{
	margin-right:340px;
	
	}
	
nav ul li a{
	font-size:14px;
	color:#FFF;
	text-transform:uppercase;
	line-height:38px;
	font-family: "Avenir LT 95 Black";
	padding:0 15px;
	display:block;
	transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover{
	background:#4a565c;
	color:#a9cf39;
	border-radius:3px;
	transition: all 0.3s ease-in-out 0s;
	}


.what-we-do-wrap{
	background:url(../images/what-we-do-pttrn.png) #272f33;
	padding:40px 0;
}

.what-we-do{
	max-width:980px ;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:30px;
}

.what-we-do h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px !important;
	color:#FFF !important;
	text-align:center;
	text-transform:uppercase;
	border-top:#4d5457 solid 3px;
	border-bottom:#4d5457 solid 1px;
}

.what-we-do-link p{ margin: 0; padding: 0; }

#sliderContent { width:100%;}
.what-we-do .viewer { width:100%;  margin:0 auto; padding:0px; overflow:hidden; position:relative;}
.what-we-do .content-conveyor { width:100%; height:335px; position:relative; }
.what-we-do .item { width:320px; float:left; text-align:center;}

.ui-widget-content{
	background:url(../images/what-we-do-slider-path.jpg) repeat-x;
	border:0;
	}
	
.ui-state-default, .ui-widget-content .ui-state-default{
	background:url(../images/scroll.png);
	width:93px;
	height:37px;
	border:0;
	cursor:col-resize;
	}
	
.slider-wrap{
	background:url(../images/what-we-do-slider-path.jpg) repeat-x !important;
	border-radius:5px;
}
	
#slider{
	width:80% !important;
	margin:0 auto !important;
	}
	
.ui-slider-horizontal .ui-slider-handle{
	top:-13px !important;
	margin-left:-45px !important;
	}
	
.ui-slider-horizontal{
	height:6px !important;
	}

.what-we-do .item{
	font-size:16px;
	color:#aab3b8;
	line-height:28px;
	margin:40px 0;
	min-height:400px;
	}

.what-we-do-content{
	padding:0 15px;
	border-right:#4d5457 dashed 1px;
}

.what-we-do-text{
	padding:0 20px;
	}

.what-we-do .item h3{
	font-family: "Avenir LT 95 Black";
	color:#788287;
	font-size:26px;
	text-transform:uppercase;
	line-height:36px;
	background:url(../images/white-line.png) center bottom no-repeat;
	padding-bottom:20px;
	margin-bottom:20px;
}

.what-we-do-link{
	display:inline-block;
	margin:0 auto;
	margin-top:20px;

}

.what-we-do-link a{
	background:url(../images/what-we-do-link-arrow.png) no-repeat 0 9px;
	font-family: "Avenir LT 95 Black";
	font-size:18px;
	color:#a5ca37;
	padding-left:12px;
	display:inline-block;
}

.reason-to-choose-us-wrap{
	background:#fbfaf9;
	padding:125px 0 100px 0;
}

.reason-to-choose-us{
	max-width:980px;
	margin:0 auto;
}


.reason-to-choose-us-title{
	font-size:50px;
	color:#4a565c;
	position:relative;
	text-align:center;
	height:130px;
}

.reason-to-choose-us-title span{
	z-index:12 !important;
	position:relative;
	}

.reason-to-choose-us-title div{
	font-family: "Avenir LT 95 Black";
	position:absolute;
	font-size:180px;
	color:#d9d9d9;
	z-index:0;
	margin:0 auto;
	display:inline-block;
	top:-70px;
	left:45%;
}

.reason-to-choose-us-sub-title{
	font-size:20px;
	color:#788287;
	margin:0px 0 30px 0;
	text-align:center;
}

.reason-to-choose-us-video{
	max-width:760px;
	margin:0 auto;
	margin-bottom:65px;
	text-align:center;
}

.our-fresh-work{
	max-width:980px;
	margin:0 auto;
}


.our-fresh-work h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#4a565c;
	text-align:center;
	text-transform:uppercase;
	border-top:#e5e6e5 solid 3px;
	border-bottom:#e5e6e5 solid 1px;
}

.about-index-wrap{
	background:url(../images/about-pttrn.jpg);
	padding:90px 0 60px 0;
}

.about-index{
	max-width:980px;
	margin:0 auto;
}

.about-index-tag{
	font-size:26px;
	color:#ffffff;
	text-align:center;
	margin:30px;
	text-transform:uppercase;
	font-family: "Avenir LT 95 Black";
}

.about-index-title{
	font-family: "Avenir LT 95 Black";
	font-size:80px;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	padding-bottom:100px;
	background:url(../images/white-line.png) no-repeat center bottom;
	text-shadow:0px 2px 0 rgba(65, 76, 82, 1), 0px 4px 0 rgba(108, 108, 124, 1);
}

.about-index-text{
	font-size:16px;
	color:#aab3b8;
	line-height:28px;
	padding:50px 10px;
}

.about-index-left{
	width:48%;
	float:left;
}

.about-index-right{
	width:48%;
	float:right;
}

.about-index-links{
	max-width:312px;
	margin:0 auto;
	background:url(../images/about-index-links-border.png) center bottom repeat-x;
	font-family: "Avenir LT 95 Black";
	font-size:14px;
	color:#FFF;
	text-transform:uppercase;
	padding:00px 0 20px 0;
	text-align:center;
}

.about-index-links span{
	background:url(../images/about-index-links-border.png) center top repeat-x;
	padding-top:20px;
	display:block;
}

.about-index-links .what-we-do-link{
	text-transform:none;
}

.our-client-wrap{
	background:#fbfaf9;
	padding:55px 0;
}

.our-client{
	max-width:980px;
	margin:0 auto;
}

.our-client h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#4a565c;
	text-align:center;
	text-transform:uppercase;
	border-top:#e5e6e5 solid 3px;
	border-bottom:#e5e6e5 solid 1px;
	margin-bottom:35px;
}

.our-client ul{
	margin:0;
	padding:0;
	position: relative !important;
	overflow: hidden !important;
	/*width: 976px !important;*/
}

.our-client ul li{
	list-style:none;

	/*width:244px !important;*/
	background:url(../images/our-client-bg.jpg) no-repeat right bottom #fbfaf9;

	overflow:hidden;
}
.our-client-slider-arrow {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.our-client-slider-prev {
	background: url(../images/services-category-arrow.png) no-repeat;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 53px;
	height: 53px;
	transition: all 0.3s ease-in-out 0s;
	opacity: 0.2;
	cursor: pointer;
	z-index: 1234;
	display: inline-block;
	margin: 0 10px;
}
.our-client-slider-next {
	background: url(../images/services-category-arrow.png) no-repeat;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	width: 53px;
	height: 53px;
	transition: all 0.3s ease-in-out 0s;
	opacity: 0.2;
	cursor: pointer;
	z-index: 1234;
	display: inline-block;
	margin: 0 10px;
}
.our-client-bottom{
	background:url(../images/our-client-bg-bottom.jpg) no-repeat right bottom #fbfaf9 !important;
	}
	
.our-client-last{
	background:url(../images/our-client-bg-last.jpg) no-repeat right bottom #fbfaf9 !important;
	}

.our-client ul li a{
	margin:1px;
	display:block;
}

.our-client ul li img{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */

}

.our-client ul li:hover img{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: none;
	transition: all 0.3s ease-in-out 0s;
}


.from-our-journal-wrap{
	background:url(../images/footer-pttrn.jpg);
	padding:60px 0 0 0;
}

.from-our-journal{
	max-width:980px;
	margin:0 auto 40px auto;
}

.from-our-journal h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	border-top:#4d5457 solid 3px;
	border-bottom:#4d5457 solid 1px;
	margin-bottom:30px;
}

.from-our-journal ul{
	margin:0;
	padding:0;
}

.from-our-journal ul li{
	list-style:none;
	width:48%;
	float:left;
	border-right:#4d5457 solid 1px;
	padding-right:3%;
}
	
.from-our-journal ul li:last-child{
	border-right:0  !important;
	float:right !important;
	padding-right:0 !important;
}

.from-our-journal-by{
	width:29.6%;
	float:left;
	font-family: "Avenir LT 95 Black";
	font-size:14px;
	color:#FFF;
	text-transform:uppercase;
	text-align:center;
	line-height:22px;
	padding-bottom:15px;
	background:url(../images/white-line.png) no-repeat center bottom;
}
	
.from-our-journal-disc{
	width:70%;
	float:right;
	font-size:16px;
	color:#FFF;
	line-height:24px;
}
	
.from-our-journal-by-photo{
	width:59px;
	height:59px;
	background:#FFF;
	padding:3px;
	border-radius:50px;
	margin:0 auto;
	margin-bottom:10px;
}

.from-our-journal-by-photo img{
	border-radius:50px;
}

.from-our-journal-by span{
	display:block;
	padding-bottom:3px;
}
	
.from-our-journal-disc h3{
	font-family: "Avenir LT 95 Black";
	font-size:22px;
	color:#788287;
	text-transform:uppercase;
	line-height:28px;
	margin-bottom:15px;
}

.from-our-journal-read-more{
	margin-top:20px;
	font-size:18px;
	line-height:18px;
	color:#788287;
}
	
.from-our-journal-read-more a{
	color:#a5ca37;
	margin:0 10px;
	font-family: "Avenir LT 95 Black";
}
	
.from-our-journal-read-more1{
	margin-left:0 !important;
}
	
.social-networks{
	max-width:980px;
	margin:0 auto;
}
	
.social-networks h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	border-top:#4d5457 solid 3px;
	border-bottom:#4d5457 solid 1px;
	margin-bottom:30px;
}

.social-networks-logo{
	text-align:center;
	margin-bottom:25px;
}

.twitter-box{
	width:48%;
	float:left;
	border-right:#4d5457 solid 1px;
	padding-right:3%;
	min-height:340px;
}
	
.facebook-box{
	width:48.3%;
	float:right;
	border-right:#4d5457 solid 0px;
	overflow:hidden;
}
	
.facebook-box-inner{
	background:url(../images/facebook-box-bg.png) no-repeat;
	padding:20px 0px 0 13px;
	height:275px;
	overflow:hidden;
	width:478px;
	color:#3b5998 !important;
}

 .twitter-box-bg {
    background: url("../images/facebook-box-bg.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    height: 220px;
    max-width: 411px;
    overflow: hidden;
    padding: 75px 8% 0 10%;
    width: 82%;
}


.tweet{
	font-size:16px;
	color:#FFF;
	line-height:24px;
	text-align:center;
	padding:40px 20px 30px 20px;
}

.tweet a{
	color:#a5ca37;
}
	
.follow-us-on-twitter{
	text-align:center;
	margin-top:20px;
}
	
.follow-us-on-twitter a{
	font-size:18px;
	color:#a5ca37;
}

.other-social-links{
	text-align:center;
	padding:40px 0;
	border-top:#4d5457 solid 3px;
	/*border-bottom:#4d5457 solid 3px;*/
	margin-top:20px;
}

.other-social-links h4{
	font-size:16px;
	color:#FFF;
	margin-bottom:10px;
}

.other-social-links ul{
	margin:0;
	padding:0;
	display:inline-block;
	margin:0 auto;
}

.other-social-links ul li{
	list-style:none;
	border-right:#4d5457 solid 1px;
	padding:10px 20px;
	float:left;
}

.other-social-links ul li:last-child{
	border-right:0;
}

.other-work-centers{
	
}
	
.other-work-centers h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	border-top:#4d5457 solid 3px;
	border-bottom:#4d5457 solid 1px;
	margin-bottom:30px;
}

.other-work-centers ul{
	margin:0;
	padding:0;
}
	
.other-work-centers ul li{
	list-style:none;
	float:left;
	border-right:#4d5457 solid 1px;
}

.other-work-centers ul li a{
	display:block;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#a5ca37;
	background:url(../images/other-work-centers-arrow.png) no-repeat center bottom;
	padding:5px 22px;
	padding-bottom:25px;
	transition: all 0.3s ease-in-out 0s;
	text-align:center;
}

.other-work-centers ul li:last-child{
	border-right:0;
}

.other-work-centers ul li a:hover{
	color:#FFF;
	background:url(../images/other-work-centers-arrow-hover.png) no-repeat center bottom;
	transition: all 0.3s ease-in-out 0s;
}

.other-work-centers ul li a.active{
	padding-top:12px;
	color:#FFF;
	background:url(../images/other-work-centers-arrow-hover.png) no-repeat center bottom;
	transition: all 0.3s ease-in-out 0s;
}

.other-work-centers-address{
	text-align:center;
	margin-top:35px;
	font-size:16px;
	color:#FFF;
	padding:0 10px;
}

.other-work-centers-address div{
	display:none;
}

.other-work-centers-address div.a{
	display:block;
}


.footer-wrap{
	background:#272f33;
	padding:60px 0 20px 0;
	margin-top:60px;
}

footer{
	max-width:980px;
	margin:0 auto;
	position:relative;
}

.back-to-top{
	width:100px;
	height:60px;
	background:url(../images/back-to-top-arrow.png) no-repeat center top;
	font-size:16px;
	color:#a5ca37;
	text-align:center;
	position:absolute;
	top:-76px;
	width:100%;
	font-family: "Avenir LT 95 Black";	
}

.back-to-top a{
	display:inline-block;
	color:#a5ca37;
	padding-top:40px;
}


.footer-nav{
	text-align:center;
	font-family: "Avenir LT 95 Black";
	font-size:14px;
	color:#788287;
	margin-bottom:10px;
}
	
.footer-nav a{
	color:#788287;
	margin:0 10px;
}
	
.copyright{
	font-size:14px;
	color:#788287;
	font-family: "Avenir LT 95 Black";
	text-align:center;
}

.banner-video-bg{
	text-align:center;
	width:100%;
	margin-top:111px;
}

.banner-text{
	font-size:20px;
	font-weight:700;
	color:#fff;
	line-height:32px;
	margin:0 auto;
	text-align:center;
	top:150px;	
	/*width:100%;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.30);*/
	background:rgba(0, 0, 0, 0.3);
	padding:15px 0 0 0;
	

}
.banner-text span{
	display:block;
	margin-top:10px;
}

.banner-text h1{
	font-family: "Avenir LT 95 Black";
	font-size:46px;
	line-height:46px;
	color:#fff;
	margin-bottom:20px;
}

.banner-video{
	margin-top:-250px;
}


		
.mycanvas{
	display:none !important;
}


/*---------------------------------Inner----------------------------*/

.header-wrap-inner{
	height:523px;
	background:url(../images/what-we-do-banner.jpg);
	width:100%;
	background-size:cover;
	overflow:hidden;
	}
	
.header-wrap-inner .header-pattern{
	height:523px;
	top:0;
}
	
.banner-text-inner{
	font-size:20px;
	font-weight:700;
	color:#FFF;
	line-height:32px;
	margin:0 auto;
	text-align:center;
	position:absolute;
	top:190px;	
	width:100%;
}
	
.header-wrap-inner h1{
	font-family: "Avenir LT 95 Black";
	font-size:26px;
	color:#FFF;
	text-transform:uppercase;
	max-width:980px;
	margin:0 auto;
}

.header-wrap-inner h2{
	font-family: "Avenir LT 95 Black";
	font-size:80px;
	color:#FFF;
	line-height:100px;
	text-shadow:0px 2px 0 rgba(65, 76, 82, 1), 0px 4px 0 rgba(108, 108, 124, 1);
	text-transform:uppercase;
	max-width:980px;
	margin:15px auto 0 auto;
}

.header-wrap-inner h3{
	font-size:20px;
	color:#ffffff;
	max-width:980px;
	margin:20px auto 0 auto;
}

.service{
	padding:50px 0;
	background:#fbfaf9;
}

.service h3{
	font-family: "Avenir LT 95 Black";
	font-size:26px;
	color:#4a565c;
	margin-bottom:10px;
	}
	

.service h2{
	font-family: "Avenir LT 95 Black";
	font-size:32px;
	color:#4a565c;
	margin-bottom:30px;
	}

.service-category{
	max-width:980px;
	margin:0 auto;
	padding:0 10px;
}

.service-category ul{
	margin:0;
	padding:0;
}

.service-category ul li{
	list-style:none;
	float:left;
	width:48%;
	font-size:20px;
	line-height:30px;
	color:#788287;
}
	
.service-category ul li:last-child{
	float:right;
	width:48%
}

.service-category-arrow{
	width:53px;
	height:53px;
	margin:30px auto 0 auto;
}

.service-category-arrow a{
	display:block;
	width:53px;
	height:53px;
	background:url(../images/services-category-arrow.png);
	transition: all 0.3s ease-in-out 0s;
	opacity:0.7

}

.service-category-arrow a:hover{
	transition: all 0.3s ease-in-out 0s;
	opacity:1;	
}

.webdesign-service-banner{
	background:url(../images/web-design-service.jpg) no-repeat center top;
	height:500px;
	background-size:cover;
	margin:60px 0;
}

.webdesign-service-banner-title{
	max-width:980px;
	margin:0 auto;
	font-family: "Avenir LT 95 Black";
	font-size:80px;
	color:#FFF;
	line-height:100px;
	text-shadow:0px 2px 0 rgba(65, 76, 82, 1), 0px 4px 0 rgba(108, 108, 124, 1);
	text-transform:uppercase;
	padding-top:160px;
	}
	
.services-content{
	max-width:980px;
	margin:0 auto;
	font-size:16px;
	color:#788287;
	line-height:28px;
	padding:0 10px;
}

.service a{
	color:#a5ca37;
}
	
.service strong{
	font-weight:700;
}

.services-content-left{
	width:48%;
	float:left;
}
	
.services-content-right{
	width:48%;
	float:right;
}
.services-content h5{
	font-size:20px;
	line-height:30px;
	color:#788287;
	margin-bottom:15px;
}

.services-design-slider{
	max-width:980px;
	margin:0 auto;
	padding:40px 0 25px 0;
	}
	
.services-design-slider .viewer { width:100%;  margin:0 auto; padding:0px; overflow:hidden; position:relative;}
.services-design-slider .content-conveyor { width:100%; min-height:380px; position:relative; }
.services-design-slider .item { width:490px; float:left;}


.services-design-slider .ui-widget-content{
	background:url(../images/what-we-do-slider-path-inner.jpg) repeat-x !important;
	border:0 !important;
	}
	
.services-design-slider .slider-wrap{
	background:url(../images/what-we-do-slider-path-inner.jpg) repeat-x !important;
	border-radius:5px;
	}	
	

#slider1{
	width:80% !important;
	margin:0 auto !important;
	}

.services-design-slider .item{
	font-size:16px;
	color:#788287;
	line-height:28px;
	padding-bottom:20px;
}

.services-design-slider .item h3{
	padding-top:10px;
	margin-bottom:25px;
	}
	
.services-design-slider .item h3 a{
	color:#4A565C;
	}

.services-design-left{
	width:17.5%;
	float:left;
}

.services-design-right{
	width:80%;
	float:left;
}

.service-design-slider-content{
	
}
	
.web-development-service-banner{
	background:url(../images/web-development-service.jpg) no-repeat center top;
	height:500px;
	background-size:cover;
	margin:60px 0;
}


.start-a-project{
	background:url(../images/start-a-project-icon.jpg) center 70px no-repeat;
	padding-top:150px;
	border-top:#e5e6e5 solid 3px;
	max-width:980px;
	text-align:center;
	margin:0 auto;
	font-size:20px;
	margin-top:30px;
	color:#788287;
}

.start-a-project h3{
	text-transform:uppercase;
	margin-bottom:20px;
}

.start-a-project span{
	display:block;
	padding-bottom:10px;
	}
	
.start-a-project .what-we-do-link{
	background:url(../images/what-we-do-link-arrow.png) no-repeat 0 7px;
	}
	
.services-detail-welcome-text{
	max-width:980px;
	margin:0 auto;
	font-size:16px;
	color:#788287;
	line-height:28px;
}

.services-detail-welcome-text img{
	float:right;
	margin-left:20px;
	}
	
.services-detail-tabs{
	position:relative;	
}

.services-detail-tabs-nav{
	position:absolute;
	width:100%;
	z-index:1234;
	height:200px;
	text-align:center;
}

.services-detail-tabs-nav ul{
	margin:0 auto;
	padding:0;
	display:block;
	margin-top:80px;
	
}

.services-detail-tabs-nav ul li{
	list-style:none;
	display:inline-block;
	margin:0 50px;
	text-align:center;
	}
	
.services-detail-tabs-nav ul li a{
	color:#4a565c;
	font-family: "Avenir LT 95 Black";
	display:block;
	transition: all 0.3s ease-in-out 0s;
	}
	
.services-detail-tabs-nav ul li a:hover{
	transition: all 0.3s ease-in-out 0s;
	color:#FFF;
	}
	
.services-detail-tabs-nav ul li a.active{
	transition: all 0.3s ease-in-out 0s;
	color:#FFF;
	}
	
.services-detail-tabs-nav ul li a .what-we-do-icon{
	background:url(../images/what-we-do-icon.png) no-repeat;
	width:53px;
	height:53px;
	margin:0 auto;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom:15px;
	}
	
.services-detail-tabs-nav ul li a:hover .what-we-do-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	}
	
.services-detail-tabs-nav ul li a .why-us-icon{
	background:url(../images/why-us-icon.png) no-repeat;
	width:53px;
	height:53px;
	margin:0 auto;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom:15px;
	}
	
.services-detail-tabs-nav ul li a:hover .why-us-icon{
	background:url(../images/why-us-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	}
	
.services-detail-tabs-nav ul li a .key-features-icon{
	background:url(../images/key-features-icon.png) no-repeat;
	width:53px;
	height:53px;
	margin:0 auto;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom:15px;
	}
	
.services-detail-tabs-nav ul li a:hover .key-features-icon{
	background:url(../images/key-features-icon-hover.png) no-repeat;
}

.services-detail-tabs-nav ul li a.active .what-we-do-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	}
	
.services-detail-tabs-nav ul li a.active .why-us-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	}
	
.services-detail-tabs-nav ul li a.active .key-features-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	}
	
.services-detail-tabs-next{
	background:url(../images/services-category-arrow.png) no-repeat;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Safari and Chrome */
	width:53px;
	height:53px;
	position:absolute;
	right:20px;
	top:45%;
	transition: all 0.3s ease-in-out 0s;
	opacity:0.7;
	cursor:pointer;
	z-index:1234;
} 

.services-detail-tabs-next:hover{
	opacity:1;
	transition: all 0.3s ease-in-out 0s;
	}

.services-detail-tabs-prev{
	background:url(../images/services-category-arrow.png) no-repeat;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	width:53px;
	height:53px;
	position:absolute;
	left:20px;
	top:45%;
	transition: all 0.3s ease-in-out 0s;
	opacity:0.7;
	cursor:pointer;
	z-index:1234;
} 

.services-detail-tabs-prev:hover{
	transition: all 0.3s ease-in-out 0s;
	opacity:1;	
}
	
.services-detail-tabs-nav ul li span{
	display:none;
}
	
.services-detail-content{
}

.services-content-tab-text{
	max-width:980px;
	margin:0 auto;
	color:#444444;
	font-size:16px;
	padding:0 10px;
}

.services-detail-content-left{
	width:48%;
	float:left;
	position:relative;
	min-height:732px;
}

.services-detail-content-right{
	width:48%;
	float:right;
	padding-top:230px;
}

.services-detail-tabs1{
	height:732px !important;
	width:100% !important;
	background-size:cover !important;
	background-position:center top !important;
}
	
.services-detail-tabs2{
	height:732px !important;
	width:100% !important;
	background-size:cover !important;
	background-position:center top !important;
	display:none;
}
	
.services-detail-tabs3{
	height:732px !important;
	width:100% !important;
	background-size:cover !important;
	background-position:center top !important;
	display:none;
}
	
.services-detail-content-left img{
	position:absolute;
	bottom:0;
	left:0;
}

.service-detail-slider{
	overflow:hidden;
	width:100%;
}
	
.what-we-do-wrap{
	width:100%;
}


.back-to-all-services{
	max-width:980px;
	margin:30px auto 40px auto;
	text-align:center;
}

.our-works-wrap{
	background:#fbfaf9;
}

.our-works{

}


.work{
	margin:0px auto;
	padding:0;
}
/*...................................career page start ...................*/

.career-wrap {
    color: #788287;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
    max-width: 980px;
}
.career > ul {
    margin: 0;
    padding: 0;
}
.career > ul > li {
    border-bottom: 3px solid #E5E6E5;
    list-style: none outside none;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.career h3 {
    color: #4A565C;
    font-family: "Avenir LT 45 Book";
    font-size: 26px;
    margin-top: 30px;
}

.career ul li ul {
    margin: 0;
    padding: 0;
}

.career ul li ul li {
    background: url("../images/career-point-line.jpg") no-repeat scroll 0 13px transparent;
    list-style: none outside none;
    margin-bottom: 5px;
    padding-left: 15px;
}
.career > ul > li:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
}

/*...................................career page end......................*/
	
/*----------------------------------Portfolio Start------------------------*/


#filterOptions{
	margin:0;
	padding:0;
	/*max-width:980px;*/
	margin:0 auto;
	display:table;
	}

#filterOptions li{
	list-style:none;
	/*float:left;*/
	display:inline-block;
	white-space:nowrap;
	border-right:#caccca dashed 1px;
	padding:0 20px;
}

#filterOptions li a{
	font-size:16px;
	color:#4a565c;
	padding:0px;
	display:block;
	border-right:0;
	box-shadow:inset 0 1px 0 #fafafa;
	line-height:30px;
	font-family: "Avenir LT 95 Black";
}

#filterOptions li:last-child{
	border-right:0;
	}


@media screen and (-webkit-min-device-pixel-ratio:0) {
#filterOptions li a span{
	margin-left:40px;
}
}
	
#filterOptions li a:hover span{
	color:#a5ca37;
	}


#filterOptions li:hover a{
	color:#a5ca37;
	}
	
#filterOptions li.active a{
	color:#a5ca37;
}

.ourHolder{
	margin:35px 0 0 0;
	padding:0;
}

.ourHolder li{
	list-style:none;
	float:left;
	margin-right:2.5%;
	width:47.5%;
	margin-bottom:30px;
}

.ourHolder ul{
	margin:0 auto;
	margin-left:0;
}

.work-nav{
	background:#FFF;
	border-bottom:#e5e6e5 solid 3px;
	padding:20px 0;
	}
	
.our-work-list{
	max-width:980px;
	margin:0 auto;
	padding:0 10px;
	text-align:left;
	}

.ourHolder li{
	position:relative;
	}
	
.ourHolder li div{
	background-color:rgba(165, 202, 55, 0.0);
	width:100%;
	height:100%;
	position:absolute;
	display:block; 
	z-index:123;
	transition: all 0.5s ease-in-out 0s;
	cursor:pointer;
	overflow:hidden;
	}
	
.ourHolder li:hover div{
	background-color:rgba(165, 202, 55, 0.9);
	transition: all 0.5s ease-in-out 0s;
}

.ourHolder li div h4{
	font-size:26px;
	color:#FFF;
	font-family: "Avenir LT 95 Black";
	position:absolute;
	bottom:-100px;
	transition: all 0.5s ease-in-out 0s;
	width:100%;
	text-align:center;
}

.ourHolder li div h4 span{
	font-size:20px;
	font-family: 'Merriweather', serif;
	display:block;
	padding-top:10px;
	text-align:center;
	}

.ourHolder li:hover div h4{
	bottom:40%;
	transition: all 0.5s ease-in-out 0s;
	}

/*----------------------------------Portfolio End------------------------*/


.works-testimonials{
	background:url(../images/testimonials-icon.png) no-repeat center top;
	margin:50px auto 0 auto;
	padding-top:100px;
	max-width:980px;
	line-height:48px;
	font-size:26px;
	color:#788287;
	text-align:center;
	padding-bottom:80px;
	position:relative;
/*	overflow:hidden; */
} 
.works-testimonials span {
display: block;
background: url(../images/black-line.jpg) no-repeat center top;
font-size: 14px;
color: #4a565c;
text-transform: uppercase;
line-height: 20px;
padding-top: 35px;
margin-top: 20px;
font-family: "Avenir LT 95 Black";
}

.works-testimonials ul{
	margin:0;
	padding:0
}

.works-testimonials ul li{
	list-style:none;
	width:100%;
}

.works-testimonials b{
	display:block;
	background:url(../images/black-line.jpg) no-repeat center top;
	font-size:14px;
	color:#4a565c;
	text-transform:uppercase;
	line-height:20px;
	padding-top:35px;
	margin-top:20px;
	font-family: "Avenir LT 95 Black";
	font-weight:normal;
}


.our-work-detail-wrap{
	background:#fbfaf9;
	padding:50px 0;
}

.work-detail-banner{
	background:url(../images/work-detail-banner-bg.jpg) center top no-repeat;
	background-size:cover !important;
    height: 523px !important;
    overflow: hidden !important;
    width: 100% !important;
}

.team-banner{
	background:url(../images/our-team.jpg) center top no-repeat;
	background-size:cover;
}

.our-histry-banner{
	background:url(../images/our-histry-banner.jpg) center top no-repeat;
	background-size:cover;
}

.our-work-detail{
	max-width:980px;
	margin:0 auto;
	padding:0 10px;
}

.our-work-detail-wrap h2{
	font-family: "Avenir LT 95 Black";
	font-size:22px;
	color:#4a565c;
	margin-bottom:10px;
}

.our-work-detail-brief{
	font-size:16px;
	color:#778286;
	line-height:28px;
	z-index:12;
}

.our-work-detail-brief-img{
	float:right;
	width:45.8%;
	margin-left:25px;
	z-index:1236;
	position:relative;
	}

.our-work-detail-brief ul{
	margin:0;
	padding:0;
}

.our-work-detail-brief ul li{
	list-style:none;
	background:url(../images/right-arrow.png) no-repeat 5px 5px;
	padding-left:30px;
	margin-bottom:3px;
}

.work-detail-view-share{
	border-top:#e5e6e5 solid 3px;
	border-bottom:#e5e6e5 solid 1px;
	padding:14px 0 14px 0;
	position:relative;
	margin-top:0px;
}

.work-detail-view-site{
	width:170px;
	float:left;
	background:#a5ca37;
	line-height:45px;
	border-radius:3px;
	font-size:18px;
	color:#FFF;
	font-family: "Avenir LT 65 Medium";
	text-align:center;
}

.work-detail-view-site a{
	color:#FFF;
	display:block;
}

.work-detail-view-site img{
	vertical-align:middle;
	margin-left:3px;
}

.work-detail-view-share-social{
	/*background:url(../images/social-share-icon.png) no-repeat right top;*/
	width:400px;
	height:33px;
	line-height:33px;
	float:left;
	margin-top:5px;
	margin-left:15px;
	padding-left: 15px;
}

.work-detail-view-share-social span{
	float:left;
	display:block;
	margin-top: 6px;
	}
	
.work-detail-view-share-social a{
	float:left;
	/*float:right;
	height:33px;
	width:33px;
	margin-right:10px;
	display:block;*/
}

.work-detail-text-left{
	width:48%;
	float:left;
}

.work-detail-text-right{
	width:48%;
	float:right;
}

.work-detail-text{
	margin-top:45px;
	font-size:16px;
	color:#778286;
	line-height:28px;
}

.work-detail-portfolio-slider-wrap{
	background:url(../images/work-detail-portfolio-slider-bg.png);
	padding:80px 0 100px 0;
}

.work-detail-portfolio-slider{
	height:500px;
}


.work-detail-portfolio-slider-wrap .contentHolderUnit{
	height:100% !important;
	width:auto !important;
}

.work-detail-portfolio-slider-wrap .contentHolderUnit img{
}

.work-detail-view-more-projects{
	font-family: "Avenir LT 95 Black";
	background:#a9cf39;
	background:url(../images/work-detail-view-more-projects-bg.jpg);
	display:inline-block;
	margin:0 auto;
	text-align:center;
	font-size:30px;
	color:#FFF;
	margin-top:60px;
}


.work-detail-view-more-projects a{
	padding:20px 70px;
	color:#FFF;
	display:block;
}

.our-team{
	max-width:980px;
	margin:60px auto;
}

.our-team-nav{
	margin:0;
	padding:0;
	/*max-width:980px;*/
	margin:0 auto;
	display:table;
	}

.our-team-nav li{
	list-style:none;
	/*float:left;*/
	display:inline-block;
	white-space:nowrap;
	border-right:#caccca dashed 1px;
	padding:0 20px;
}

.our-team-nav li a{
	font-size:16px;
	color:#4a565c;
	padding:0px;
	display:block;
	border-right:0;
	box-shadow:inset 0 1px 0 #fafafa;
	line-height:30px;
	font-family: "Avenir LT 95 Black";
	transition: all 0.3s ease-in-out 0s;
}

.our-team-nav li a:hover{
    color: #A5CA37;
	transition: all 0.3s ease-in-out 0s;
}

.our-team-nav li a.active{
    color: #A5CA37;
}

.our-team-nav li:last-child{
	border-right:0;
}

.our-team ul{
	margin:0;
	padding:0;
}

.our-team ul li{
	list-style:none;
	text-align:center;
	width:23%;
	margin-right:2%;
	float:left;
	margin-bottom:25px;
}

.our-team ul li a{
	display:block;
	color:#FFF;
	}

.our-team ul li span p{
	margin-top:10px !important;
}
	

.our-team ul li h4{
	font-family: "Avenir LT 95 Black";
	color:#4a565c;
	font-size:22px;
	line-height:22px;
	margin-top:25px;
	margin-bottom:10px;
	}
	
.our-team ul li span{
	display:block;
	color:#778286;
	font-size:16px;
	font-style:italic;
	}


.our-team-photo{
	position:relative;
	overflow:hidden
}

.our-team ul li .team-social{
	width:100%;
	height:47px;
	transition: all 0.5s ease-in-out 0s;
	bottom:20px;
	position:absolute;
	display:block;
	text-align:center;
	}
	
.our-team ul li .team-social a{
	display:inline-block;
	width:47px;
	height:47px;
	margin-right:11px;
	}
	
.team-social-mail{

	}
	
.our-team ul li:hover{
	transition: all 0.5s ease-in-out 0s;
	bottom:20px;
}

.team-google{
	background:url(../images/team-google.png) no-repeat;
	left:-150px;
	position:absolute;
	transition: all 0.5s ease-in-out 0s;
}

.our-team ul li:hover .team-google{
	transition: all 0.5s ease-in-out 0s;
	left:40px;
	
}

.team-twitter{
	background:url(../images/team-twitter.png) no-repeat;
	position:absolute;
	transition: all 0.5s ease-in-out 0s;
	left:-300px;
	bottom:-100px;
}

.our-team ul li:hover .team-twitter{
	transition: all 0.5s ease-in-out 0s;
	left:101px;
	bottom:0;
}

.team-linkedin{
	background:url(../images/team-linkedin.png) no-repeat;
	bottom:-100px;
	position:absolute;
	transition: all 0.5s ease-in-out 0s;
	right:-301px;
}

.our-team ul li:hover .team-linkedin{
	transition: all 0.5s ease-in-out 0s;
	bottom:0px;
	right:87px;

}

.team-mail{
	background:url(../images/team-mail.png) no-repeat;
	right:-100px;
	position:absolute;
	transition: all 0.5s ease-in-out 0s;
}

.our-team ul li:hover .team-mail{
	transition: all 0.5s ease-in-out 0s;
	right:25px;
}


.our-team ul li .our-team-photo h5{
	display:none;
}

/*.our-team ul li .our-team-photo div{
	font-size:26px;
	font-family: "Avenir LT 95 Black";
	text-align:center;
	color:#FFF;
	background-color:rgba(165, 202, 55, 0.0);
	width:100%;
	height:100%;
	position:absolute;
	display:block; 
	z-index:123;
	transition: all 0.5s ease-in-out 0s;
	cursor:pointer;
	overflow:hidden;
	top:0;
	}

.our-team ul li:hover .our-team-photo div{
	background-color:rgba(165, 202, 55, 0.9);
	transition: all 0.5s ease-in-out 0s;
	}
	
.our-team ul li .our-team-photo h5{
	font-size:26px;
	color:#FFF;
	font-family: "Avenir LT 95 Black";
	position:absolute;
	bottom:-100px;
	transition: all 0.5s ease-in-out 0s;
	width:100%;
	text-align:center;
}

.our-team ul li:hover .our-team-photo div h5{
	bottom:46%;
	transition: all 0.5s ease-in-out 0s;
	}

*/
.director{}

.director li{
	width:31.0% !important;
	}
	
.director li span{
	font-size:20px !important;
	}
	
.career-link{
	background:url(../images/career-link.jpg) no-repeat center 60px;
	margin:50px auto 0 auto;
	padding-top:100px;
	max-width:980px;
	line-height:30px;
	font-size:20px;
	color:#788287;
	text-align:center;
	padding-bottom:80px;
	border-top:#e5e6e5 solid 3px;
	padding-top:155px;
}

.career-link span{
	display:block;
	font-size:26px;
	color:#4a565c;
	text-transform:uppercase;
	line-height:20px;
	margin-top:0px;
	margin-bottom:20px;
	font-family: "Avenir LT 95 Black";
}

.career-link .what-we-do-link{
	display:inline-block;
	margin:20px auto 0 auto;
	}

	
.nav-responsive{
	display:none
}

.nav_small{
	display:none
}

#bannerBg{
	width:100% !important;
	overflow:hidden !important;
}

.click-to-view-contact-details{
	text-align:center;
	font-size:14px;
	color:#788287;
	font-style:italic;
	padding:00px 0 25px 0;
}


.histry-subtext{
	text-align:center;
	padding:55px 0;
	font-size:20px;
	line-height:30px;
	color:#778286;
	max-width:980px;
	margin:0 auto;
	}



.contact-banner{
	color:#FFF;
	margin:0 auto;
	text-align:center;
	position:absolute;
	top:190px;	
	max-width:980px;
	cursor:pointer;
	margin-left:25%;
	font-size:20px;
	line-height:30px;
}

.contact-banner a{
	color:#FFF;
	}

.contact-address{
	background-color:rgba(39, 47, 51, 0.9);
	padding:20px;
	text-align:left;
}

.contact-address-address{
	background:url(../images/address-icon.png) no-repeat;
	padding-left:50px;
	min-height:37px;
	margin-bottom:15px;
}

.contact-address-address h3{
	font-family: "Avenir LT 95 Black";
	font-size:26px;
	margin-bottom:5px;
	}
	
.contact-address-mail{
	background:url(../images/email-icon.png) no-repeat;
	padding-left:50px;
	min-height:37px;
	margin-bottom:15px;
	font-family: "Avenir LT 65 Medium";
}
	
.contact-address-phone{
	background:url(../images/phone-icon.png) no-repeat;
	padding-left:50px;
	min-height:37px;
	font-family: "Avenir LT 65 Medium";
}

.works-testimonials ul{
	margin:0;
	padding:0;
}


.lets-work-together-wrap{
	background:url(../images/lets-work-together-bg.jpg);
	padding:50px 0
}

.lets-work-together{
	max-width:980px;
	margin:0 auto;
}


.lets-work-together h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#4a565c;
	text-align:center;
	text-transform:uppercase;
	border-top:#e5e6e5 solid 3px;
	border-bottom:#e5e6e5 solid 1px;
}

.contact-form{
	max-width:800px;
	margin:0 auto;
	margin-top:30px;
	padding:0 10px;
	}
	
.contact-form p{
	width:46%;
	margin-right:4%;
	float:left;
	margin-bottom:20px;
}

.contact-form label{
	font-family: "Avenir LT 65 Medium";
	color:#272f33;
	font-size:12px;
	display:block;
	text-transform:uppercase;
	margin-bottom:5px;
	}
	
.contact-form label span{
	text-align:right;
	font-style:italic;
	float:right;
	}
	
.contact-form input{
	height:36px;
	line-height:36px;
	border:#caccca solid 2px;
	background:#e8ebe8;
	width:94%;
	padding:0 5% 0 1%;
	font-size:14px;
	color:#272f33;
	}

p.contact-textarea{
	width:96%;
	padding:0;
	float:none;
	}

.contact-form textarea{
	height:150px;
	line-height:20px;
	border:#caccca solid 2px;
	background:#e8ebe8;
	width:94%;
	padding:10px 3%;
	font-size:14px;
	color:#272f33;
}

.contact-captcha{
	
}

.contact-captcha img{
	float:left;
	margin-right:15px;
	height:40px;
}

.contact-captcha input{
	float:left;
	width:24%;
}

input.submit{
	float:left !important;
	width:45% !important;
	margin-left:3% !important;
	cursor:pointer;
	text-align:center !important;
	line-height:40px !important;
	height:40px !important;
	background:#a5ca37 !important;
	border-radius:4px;
	font-size:12px !important;
	color:#FFF !important;
	font-family: "Avenir LT 95 Black" !important;
	text-transform:uppercase !important;
	border:0 !important;
}

.career-link-contact .career-link{
	border-top:0;
	margin-top:0;
	max-width:800px;
}

.blog{
	max-width:980px;
	padding:50px 10px;
	margin:0 auto;
}

.blog-nav-wrap{
	max-width:980px;
	margin:0 auto;
}

.blog-nav{
	width:65.3%;
	float:left;
	}
	
.blog-nav ul{
	display:block;
	}

.blog-search{
	width:27.1%;
	float:right;
	height:36px;
	border:#333e44 solid 2px;
	padding-left:3.5%;
	position:relative;
	background:#4b565c
}

.blog-search input{
	font-family: "Avenir LT 45 Book";
	background:none;
	border:0;
	line-height:36px;
	height:36px;
	float:left;
	width:75%;
	float:left;
	color:#4d5457;
	font-size:16px;
	font-style:italic;
	color:#feffff;
}

.blog-search input[type="submit"]{
	float:right;
	background:url(../images/blog-search-icon.jpg) no-repeat;
	width:42px;
	height:36px;
	cursor:pointer;
	margin:0;
	padding:0;
	border:0;
	border-left:#333e42 solid 2px;
	}

.blog ul{
	margin:0;
	padding:0;
}

.blog ul li{
	list-style:none;
	margin-bottom:30px;
}


.blog-left{
	width:65.3%;
	float:left;
	position:relative;
}

.blog-right{
	width:30.6%;
	float:right;
}

.blog-nav-wrap .what-we-do-link{
	width:60.3%;
	float:left;
	position:relative;
	margin-top:3px;
	}
	
.blog-nav-wrap .what-we-do-link a{
	background:url(../images/back-arrow.png) no-repeat 0 6px !important;
	}
	
.blog-social{
	width:30.6%;
	float:right;
	}

.blog-right h4{
	font-family: "Avenir LT 95 Black";
	font-size:22px;
	color:#4a565c;
	line-height:32px;
	letter-spacing:-0.02em;
	margin-bottom:10px;
}

.blog-left{
	
	}
	
.blog-left div{
	background-color:rgba(165, 202, 55, 0.0);
	width:100%;
	height:100%;
	position:absolute;
	display:block; 
	z-index:123;
	transition: all 0.5s ease-in-out 0s;
	cursor:pointer;
	overflow:hidden;
	top:0;
	left:0;
	}
	
.blog-left:hover div{
	background-color:rgba(165, 202, 55, 0.9);
	transition: all 0.5s ease-in-out 0s;
}

.blog-left div h4{
	font-size:18px;
	color:#FFF;
	font-family: "Avenir LT 95 Black";
	position:absolute;
	bottom:-100px;
	transition: all 0.5s ease-in-out 0s;
	width:100%;
	text-transform:uppercase;
	text-align:center;
}

.blog-left div h4 span{
	font-size:20px;
	font-family: 'Merriweather', serif;
	display:block;
	padding-top:10px;
	text-align:center;
	}

.blog-left:hover div h4{
	bottom:47%;
	transition: all 0.5s ease-in-out 0s;
	}
	

.blog-right h4 a{
	color:#4a565c;
}
	
.blog-right-disc{
	font-size:16px;
	color:#788287;
	line-height:28px;
}

.blog-by{
	margin-top:30px;
	padding-top:25px;
	border-top:#e5e6e5 solid 2px;
}

.blog-by-photo{
	width:19.4%;
	float:left;
	border-radius:50px;
}

.blog-by-photo img{
	border-radius:50px;
}

.blog-by-name{
	font-family: "Avenir LT 95 Black";
	float:left;
	margin-left:5.3%;
	width:75%;
	font-size:14px;
	color:#4a565c;
	text-transform:uppercase;
	padding-top:9px;
	line-height:18px;
}

.blog-by-name span{
	color:#788287;
	display:block;
}

.blog-older-post{
	margin-top:70px;
	border-top:#e5e6e5 solid 1px;
	border-bottom:#e5e6e5 solid 1px;
	padding:40px 0 50px 0;
	text-align:center;
	margin-bottom:40px;
}

.blog-detail{
	max-width:980px;
	margin:0 auto;
	padding:50px 10px;
}

.blog-detail-left{
	width:18.7%;
	float:left;
}

.blog-detail-right{
	width:77.3%;
	float:right;
	font-size:16px;
	color:#788287;
	line-height:28px;
}

.blog-detail-right a{
	color:#a5ca37;
}


.blog-detail-left .from-our-journal-by{
	color:#788287;
	width:100%;
	background:url(../images/black-line.jpg) no-repeat center bottom;
}

.blog-detail-left .from-our-journal-by span{
	color:#4a565c;
	display:block;
	padding-bottom:0;
}

.blog-detail-right h3{
	font-family: "Avenir LT 95 Black";
	font-size:32px;
	line-height:36px;
	color:#4a565c;
	margin-bottom:20px;
}

.blog-detail-right strong{
	font-weight:normal;
	font-weight:700;
}

.blog-detail-right h4{
	font-family: "Avenir LT 95 Black";
	font-size:22px;
	color:#4a565c;
	line-height:36px;
	margin:20px 0 20px 0;
}

.blog-detail-right ul{
	margin:0;
	padding:0;
}

.blog-detail-right ul li{
	list-style:none;
	background:url(../images/blog-detail-bullet.png) no-repeat 0 9px;
	padding-left:20px;
	margin-bottom:7px;
}

.blog-detail-img-point{
	margin:30px 0;
	}

.blog-img-left{
	float:left;
	margin-right:20px;
	width:42.4%;
	}
	
.blog-img-right{
	float:right;
	margin-left:20px;
	width:42.4%;
	}
	
.blog-detail-img-point ul{
	float:right;
	width:54%;
}

.blog-detail-point{
	margin:30px 0;
	}
	
.blog-detail-point ul li{
	width:42%;
	float:left;
	padding-right:5%;
}

.blog-comment{
	max-width:980px;
	margin:0 auto;
	margin-bottom:50px;
	padding:0 10px;
}

.blog-comment h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#4a565c;
	text-align:center;
	text-transform:uppercase;
	border-top:#e5e6e5 solid 3px;
	border-bottom:#e5e6e5 solid 1px;
}

.blog-comment ul{
	margin:0;
	padding:0;
}

.blog-comment ul li{
	list-style:none;
	padding:40px 0;
	border-bottom:#e5e6e5 solid 1px;
	color:#788287;
}

.blog-comment ul li:last-child{
	border-bottom:0;
}

.blog-comment-left{
	font-family: "Avenir LT 95 Black";
	width:20.2%;
	float:left;
	font-size:14px;
	color:#4a565c;
	text-transform:uppercase;
}
	
.blog-comment-left span{
	display:block;
	color:#788287;
}
	
.blog-comment-right{
	width:77.7%;
	float:left;
	padding-left:2%;
	border-left:#e5e6e5 solid 1px;
	font-size:16px;
	line-height:28px;
}

.add-a-comment-wrap{
	background:url(../images/lets-work-together-bg.jpg);
	padding:60px 0
}

.add-a-comment{
	max-width:800px;
	margin:0 auto;
}

.add-a-comment h3{
	font-family: "Avenir LT 95 Black";
	font-size:32px;
	color:#4a565c;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:40px;
}

.add-a-comment .contact-form input{
	background:#ffffff;
	border:0;
	height:40px;
	line-height:40px;
}

.add-a-comment .contact-form {
	margin-top:0;
	}

.add-a-comment .contact-form p{
	margin-top:0;
	margin-bottom:25px;
	}
	
.add-a-comment .contact-form label{
	color:#4a565c;
	}
	
.add-a-comment .contact-form label span{
	color:#4d5457;
	}
	
.add-a-comment .contact-form textarea{
	background:#ffffff;
	border:0;
	height:150px;
	margin-bottom:0px;
}


.most-popular{
	max-width:980px;
	margin:0 auto;
	padding:50px 10px;
}


.most-popular h2{
	padding:25px 0;
	font-family: "Avenir LT 95 Black";
	font-size:16px;
	color:#4a565c;
	text-align:center;
	text-transform:uppercase;
	border-top:#e5e6e5 solid 3px;
	border-bottom:#e5e6e5 solid 1px;
	margin-bottom:50px;
}

.most-popular ul{
	margin:0;
	padding:0;
}

.most-popular ul li{
	list-style:none;
	width:31%;
	margin-right:3%;
	float:left;
}

.most-popular ul li:last-child{
	margin-right:0;
	}

.most-popular ul li h3{
	font-family: "Avenir LT 95 Black";
	font-size:22px;
	color:#4a565c;
	line-height:32px;
	margin-bottom:15px;
}

.most-popular-blog-by{
	font-family: "Avenir LT 95 Black";
	font-size:14px;
	color:#4a565c;
	text-transform:uppercase;
	margin-bottom:15px;
	line-height:18px;
}

.most-popular-blog-by span{
	display:block;
	color:#788287;
}
	
.most-popular-blog-disc{
	font-size:16px;
	color:#788287;
	line-height:28px;
}

.our-process{
	max-width:980px;
	margin:50px auto;
}

.our-process-chart{
	width:980px;
	height:980px;	
}

.process-chart-round1{
	width:980px;
	height:980px;
	margin:0 auto;
	background:#4a565c;
	border-radius:100%;
	position:relative;
	display:none;
}

.process-chart-round2{
	width:757px;
	height:757px;
	background:#607078;
	border-radius:100%;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	display:none;
}

.process-chart-round3{
	width:531px;
	height:531px;
	background:#768a94;
	border-radius:100%;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	display:none;
}

.process-chart-round4{
	width:289px;
	height:289px;
	background:#89a0ac;
	border-radius:100%;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	display:none;
}

.process-chart-round5{
	width:98px;
	height:98px;
	background:#ffffff;
	border-radius:100%;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	display:none;
}

.process-icon1{
	position:absolute;
	left:442px;
	top:26px;
	display:none;
}

.process-icon2{
	position:absolute;
	right:0;
	top:48px;
	display:none;
}

.process-icon3{
	position:absolute;
	right:0;
	bottom:0px;
	display:none;
}

.process-icon4{
	position:absolute;
	left:0;
	bottom:0px;
	display:none;
}

.process-icon5{
	position:absolute;
	left:0;
	top:0px;
	display:none;
}

.process-chart-round2-content{
	position:relative;
	width:757px;
	height:757px;
}

.process-icon6{
	position:absolute;
	left:341px;
	top:0px;
	display:none;
}

.process-icon7{
	position:absolute;
	right:0;
	top:0px;
	display:none;
}

.process-icon8{
	position:absolute;
	right:0;
	bottom:0px;
	display:none;
}

.process-icon9{
	position:absolute;
	left:0;
	bottom:0px;
	display:none;
}

.process-chart-round3-content{
	position:relative;
	width:531px;
	height:531px;
}

.process-icon10{
	position:absolute;
	left:230px;
	top:0px;
	display:none;
}

.process-icon11{
	position:absolute;
	right:0px;
	top:0px;
	display:none;
}

.process-icon12{
	position:absolute;
	right:0px;
	bottom:0px;
	display:none;
}

.process-icon13{
	position:absolute;
	left:0px;
	bottom:0px;
	display:none;
}

.process-icon14{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}

.process-chart-round4-content{
	position:relative;
	width:289px;
	height:289px;
}


.process-icon15{
	position:absolute;
	left:95px;
	top:0px;
	display:none;
}

.process-icon16{
	position:absolute;
	right:0px;
	top:0px;
	display:none;
}

.process-icon17{
	position:absolute;
	right:0px;
	bottom:0px;
	display:none;
}

.process-icon18{
	position:absolute;
	left:0px;
	bottom:0px;
	display:none;
}

.process-icon19{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}

.process-chart-round5-content{
	position:relative;
	width:98px;
	height:98px;
}

.process-icon20{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}

.process-icon20 a.active{
	opacity:1 !important;
}

.our-process-tab{
	max-width:980px;
	margin:0 auto 50px auto;
	padding:0 10px;
	}

.process-tabs{
	
	}

.process-tab-disc > div{
	display:none;
}

.process-tab{
	width:30.8%;
	float:left;
}

.process-tab ul{
	margin:0;
	padding:0;
}

.process-tab ul li{
	list-style:none;
}

.process-tab ul li a{
	display:block;
	background:#f3f2f1;
	border-bottom:#FFF solid 1px;
	padding:10px 0;
	font-size:14px;
	color:#666666;
	font-family: "Avenir LT 65 Medium";
	text-transform:uppercase;
	padding-left:7.3%;
}

.process-tab ul li a:hover{
	font-family: "Avenir LT 95 Black";
	background:url(../images/our-process-tab-hover.png) repeat-y #fbfaf9;
	}
	
.process-tab ul li a.active{
	font-family: "Avenir LT 95 Black";
	background:url(../images/our-process-tab-hover.png) repeat-y #fbfaf9;
	}

.process-tab-disc{
	width:65.4%;
	float:right;
	font-size:16px;
	color:#788287;
	line-height:28px;
}

.process-tab-disc h4{
	font-family: "Avenir LT 95 Black";
	font-size:22px;
	color:#4a565c;
	margin-bottom:15px;
	}
	
.process-tab-disc-left{
	width:48%;
	float:left;
}

.process-tab-disc-right{
	width:48%;
	float:right;
}

.process-tab-disc ul{
	margin:0;
	padding:0;
}

.process-tab-disc ul li{
	list-style:none;
	background:url(../images/process-disc-bullet.png) no-repeat 0 5px;
	padding-left:21px;
	margin-bottom:10px;
	line-height:18px;
}

.process-tab-disc ul li ul{
	margin-top:10px;
	}

.process-tab-disc ul li ul li{
	background:url(../images/process-disc-sub-bullet.png) no-repeat 0 5px;
	font-style:italic;
	padding-left:15px;
	}
	
.our-process-chart a.active{
	opacity:0.2;
	}


.allinone_carousel.sweet .contentHolderUnit {
	width:740px;
	height:auto;
	}
.allinone_carousel.sweet .contentHolderUnit img{
	width:740px ;
	height:525px;
	}

.reason-to-choose-us-wrap .allinone_carousel.sweet .contentHolderUnit {
	position:absolute;
	/*float:left;
	display:block;*/
	width:520px;
	height:385px;
}
.reason-to-choose-us .our-fresh-work h2{
	margin-bottom: 20px;
}
/*-----------------------*/

.123{
	background:#090;
	z-index:1234;
	display:block;
	height:800px !important;
	position:relative !important;
	text-align:center;
}

.contentHolderUnit h5{
	font-size:22px;
	color:#4a565c;
	font-family: "Avenir LT 95 Black";
	margin-bottom:10px;

}

.contentHolderUnit span{
	font-size:20px;
	color:#788287;
}


.contentHolderUnit div.quick-insite{
	background:url(../images/quick-insight.png) center top !important;
	width:105px !important;
	height:54px !important;
	float:left;
	margin-left:100px;
	margin-top:20px;
	}
	
.contentHolderUnit div.quick-insite a{
	display:block;
	margin:0 auto;
	width:105px !important;
	height:54px !important;
	}
	
.contentHolderUnit div.view-detail{
	background:url(../images/view-detail.png) center top !important;
	width:105px !important;
	height:54px !important;
	float:right;
	margin-right:100px;
	margin-top:20px;
	}
	
.contentHolderUnit div.view-detail a{
	display:block;
	margin:0 auto;
	width:105px !important;
	height:54px !important;
	}
	

	
.contentHolder{
	height:750px !important;
	}
	
.carouselParent_78031{
	height:750px !important;
	}
	
.contentHolderUnit{
	overflow:auto !important;
	height:650px !important;
	top:100px !important;
	
}
	
.contentHolderUnit img{
	height:auto !important;
}

#bannerBg{
	height:730px;
	}
#containingDiv{
	height:700px ;
	}
	
/*-----------------------*/

.about{
	max-width:980px;
	margin:0 auto;
	padding:60px 0;
	font-size:16px;
	color:#788287;
	line-height:28px;
}

.about-welcome{
	padding-bottom:30px;
}

.about-left{
	width:48%;
	float:left;
}

.about-right{
	width:48%;
	float:right;
}

.about strong{
	font-weight:700;
}

.about a{
	color:#a5ca37;
}

.etraffic-headquaters{
	max-width:980px;
	margin:0 auto;
	font-size:20px;
	line-height:30px;
	text-align:center;
	margin-bottom:30px;
}

.etraffic-headquaters h2{
	margin-bottom:30px;
}

.etraffic-headquaters-slider{
	position:relative;
	padding-bottom:60px;
	border-bottom:#e5e6e5 solid 3px;
	max-width:980px;
	margin:0 auto;
/*	overflow:hidden; */
}
.testi-slide-prev{
	background:url(../images/etraffic-headquaters-slider-prev.png);
	width:90px;
	height:90px;
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-45px;
	z-index:123;
	cursor:pointer;
}

.testi-slide-next{
	background:url(../images/etraffic-headquaters-slider-next.png);
	width:90px;
	height:90px;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-45px;
	z-index:123;
	cursor:pointer;
	}

.etraffic-headquaters-slide{
	margin:0;
	padding:0;
}

.etraffic-headquaters-slide li{
	list-style:none;
	}
	
.portfolio-slider{
	position:relative;
	/*max-width:980px;*/
	margin:0 auto;
	max-width:1900px;
	overflow:hidden;
	}
	
.portfolio-slider ul li{
	list-style:none;
	text-align:center !important;
	margin:0 50px;
	max-width:740px;

	opacity:1 !important;
	}
	
.portfolio-slide{
	margin-left:-300px;
	}
	
.portfolio-slide div.cycle-slide{
	margin:0 50px !important;
	opacity:0.5;
	}
	
	
.portfolio-slide div.cycle-slide-active{
	opacity:0.5 !important;
	}
	
.portfolio-slide div.op{
	opacity:1 !important;
	}	

.portfolio-slider-slider-prev{
	background:url(../images/portfolio-slider-slider-prev.png);
	width:90px;
	height:90px;
	position:absolute;
	left:50px;
	top:50%;
	margin-top:-45px;
	z-index:123;
	cursor:pointer;
}

.portfolio-slider-slider-next{
	background:url(../images/portfolio-slider-slider-next.png);
	width:90px;
	height:90px;
	position:absolute;
	right:50px;
	top:50%;
	margin-top:-45px;
	z-index:123;
	cursor:pointer;
}

.portfolio-slider-nav{
	text-align:center;
	width:100%;
	margin-top:30px;
	position:relative;
	z-index:132312;
	}
	
.portfolio-slider span {
    cursor: pointer;
    display: inline-block;
	background:url(../images/portfolio-slider-nav.png)no-repeat;
	width:10px;
	height:10px;
	font-size:0;
	margin:0 5px;

}


.portfolio-slider-nav span{
    cursor: pointer;
    display: inline-block;
	background:url(../images/portfolio-slider-nav.png) no-repeat;
	width:10px;
	height:10px;
	font-size:0;
	margin:0 5px;
}

.portfolio-slider-nav span.cycle-pager-active{
	background:url(../images/portfolio-slider-nav-active.png) no-repeat;
}

.portfolio-slider span.cycle-pager-active {
	background:url(../images/portfolio-slider-nav-active.png) no-repeat;
}

.blog-detail-right-img{}

.blog-detail-right-img img{
 float:right;
 margin-left:20px;
}

.blog-detail-left-img{}

.blog-detail-left-img img{
 float:left;
 margin-right:20px;
}

.blog-detail-right h2 {
	font-family: "Avenir LT 95 Black";
	font-size: 22px;
	color: #4a565c;
	line-height: 36px;
	margin: 20px 0 20px 0;
}
.menu-menu2-container{
}
.menu-menu2-container ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.menu-menu2-container ul li{
	color: #788287;
	display: inline;
}


.not-found-page{
	max-width:980px;
	margin:0 auto;
	text-align:center;
	padding:60px 0;
}

.not-found-page h2{
	font-family: "Avenir LT 95 Black";
	font-size:32px;
	color:#4a565c;
	margin-bottom:30px;
}
	
.not-found-page h3{
	font-size:22px;
	color:#788287;
}

.not-found-page h3 a{
	color:#788287;
}

.our-process{
 position:relative;
}

.view-progress{
 background:url(../images/view-progress.png) no-repeat;
 width:131px;
 height:121px;
 position:absolute;
 right:0px;
 top:0;
 z-index:1234;
}

.view-progress a{
 width:131px;
 height:121px;
 display:block;
}
#rotatingtweets_widget-2{
	font-family:'Merriweather',serif;
	color:#FFF;
}
#rotatingtweets_widget-2 a{
	color:#a5ca37;
}



.cycle-slide img{
	width:100%;
	height:auto
}
.team-hover{
 opacity:0;
 position:absolute;
 width:100%;
 height:auto;
 top:0;
 left:0;
 transition: all 0.5s ease-in-out 0s;
}

.our-team ul li:hover .team-hover{
 opacity:1;
 display:block;
 transition: all 0.5s ease-in-out 0s;
}
.terms{

}

.terms ol{
 margin:0;
 padding:0;
 counter-reset: item;
}

.terms ol li{
 margin:0;
 padding:0;
 font-size:26px;
 color:#4a565c;
    font-family: "Avenir LT 95 Black";
 margin-bottom:15px;
 margin-top:30px;
 list-style:none;

}

.terms ol li:first-child{
 margin-top:0;
 }
 
.terms ol ol{
 margin-top:20px;
 }

.terms ol ol li{
 margin:0;
 padding:0;
 font-size:16px;
 color:#788287;
 font-family: 'Merriweather', serif;
 line-height:28px;
 margin-bottom:10px;
 color:#788287;
 margin-left:20px;
 padding-left:15px;
 
}

.terms ol ol ul{
 margin:0;
 padding:0;

 }

.terms ol ol ul li{
 background:url(../images/tc-bullet.jpg) no-repeat 0 8px;
 padding-left:15px;
 list-style:none;
 margin-left:35px;
}

.terms ol > li:before{
content: counters(item, ".") " "; counter-increment: item;
margin-left:-40px;
padding-right:15px;
}
.top-arrow-tc{
 background:url(../images/top-arrow-tc.png) no-repeat;
 width:53px;
 height:82px;
 position:absolute;
 right:100px;
 bottom:1600px;
}

.top-arrow-tc a{
 display:block;
 width:53px;
 height:82px;
}


/*--------------------Blog New-----------*/


.blog-new{
	max-width:980px;
	margin:0 auto;
	padding:60px 10px;
}

.blog-new-left{
	float:left;
	width:650px;
}

.blog-new-right{
	float:right;
	width:300px;
}

.blog-new-list{
	
	}
	
.blog-new-list ul{
	margin:0;
	padding:0;
}

.blog-new-list ul li{
	list-style:none;
	transition: all 0.5s ease-in-out 0s;
	padding:40px 0;
	border-bottom:#e5e6e5 solid 2px;
}
/*
.blog-new-list ul li:last-child{
	border-bottom:0px;
}*/

.blog-new-list ul li:hover{
	background:#788287;
	transition: all 0.5s ease-in-out 0s;
}

.blog-new-author{
	width:22.7%;
	float:left;
	padding-left:1%
}

.blog-new-post{
	width:73.7%;
	float:right;
	padding-right:1%;
}

.blog-new-author-photo{
	width:80px;
	height:80px;
	margin:0 auto;
	border-radius:100px;
	}
	
.blog-new-author-photo img{
	border-radius:100px;
	}
	
.blog-new-author-name{
	font-family: "Avenir LT 95 Black";
	font-size:14px;
	color:#4a565c;
	text-transform:uppercase;
	padding-top:9px;
	line-height:18px;
	text-align:center;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-author-name span{
	color:#788287;
	display:block;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-list ul li:hover .blog-new-author-name{
	color:#FFF;
	transition: all 0.3s ease-in-out 0s;
	}
	
.blog-new-list ul li:hover .blog-new-author-name span{
	color:#a8b3b9;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-post h3{
    color: #4A565C;
    font-family: "Avenir LT 95 Black";
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
}

.blog-new-post h3 a{
    color: #4A565C;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-list ul li:hover .blog-new-post h3 a{
	color:#FFF;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-category{
	font-size:14px;
	color:#788287;
	margin-bottom:15px;
	transition: all 0.3s ease-in-out 0s;
	}
	
.blog-new-category span{
	color:#a5ca37;
}

.blog-new-category span a{
	color:#a5ca37;
}

.blog-new-list ul li:hover .blog-new-category{
	color:#4a565c;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-disc{
	font-size:16px;
	color:#788287;
	line-height:28px;
	transition: all 0.3s ease-in-out 0s;
}


.blog-new-list ul li:hover .blog-new-disc{
	color:#c4cdd2;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-read-more{
	text-align:right;
	color:#4a565c;
    font-family: "Avenir LT 95 Black";
	margin-top:20px;
	font-size:22px;
}

.blog-new-read-more span{
	background:#788287;
	height:16px;
	width:2px;
	line-height:16px !important;
	display:inline-block;
	transition: all 0.3s ease-in-out 0s;
	}
.blog-new-read-more span.dsq-postid{
	background:none;
	margin-right: 7px;
}
.blog-new-list ul li:hover .blog-new-read-more span.dsq-postid{
	transition: all 0.3s ease-in-out 0s;
	background:none;
}
.blog-new-list ul li:hover .blog-new-read-more span{
	background:#4a565c;
	transition: all 0.3s ease-in-out 0s;
	}

.blog-new-read-more a{
	color:#a5ca37;
	line-height:22px;
	font-size:16px;
	margin:0 6px;
}
.blog-new-free-trial{
   background:url(../images/what-we-do-pttrn.png)#4a565c;
   padding: 30px 18px;
   border-radius:3px;
   text-align:center;
   font-size:14px;
   color:#a4abaf;
   font-style:italic;
   line-height:28px;
   margin-bottom:30px;
}

.blog-new-free-trial h4{
    font-family: "Avenir LT 95 Black";
	font-size:20px;
	color:#f9eaed;
	margin-bottom:10px;
   font-style:normal;
}

.blog-new-free-trial-btn{
	height:40px;
	line-height:40px;
	background:#a5ca37;
	margin-top:10px;
	text-align:center;
	border-radius:3px;
   font-style:normal;
}

.blog-new-free-trial-btn a{
    font-family: "Avenir LT 95 Black";
	font-size:12px;
	color:#ffffff;
	display:block;
	text-transform:uppercase;
	letter-spacing:0.08em;
}

.blog-new-right-box{
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.14);
	border-radius:3px;
	margin-bottom:30px;
}

.blog-new-right-box h4{
    font-family: "Avenir LT 95 Black";
	background:#4a565c;
	line-height:49px;
	padding:0 0 0 20px;
	font-size:16px;
	color:#ffffff;
	text-transform:uppercase;
	border-radius:3px 3px 0 0;
}

.blog-etraffic-tv{
	padding:20px;
}

.blog-etraffic-tv img{
	border-radius:3px;
}

.blog-new-join-etraffic-community{
	padding:20px;
	color:#788287;
	line-height:28px;
	font-style:italic;
	font-size:16px;
}

.blog-new-join-etraffic-community-icon{
	background:url(../images/blog-new-join-the-etraffic.png) no-repeat;
	height:30px;
	margin-top:15px;
	}

.blog-new-join-etraffic-community-icon a{
	display:block;
	float:left;
	height:30px;
	width:30px;
	margin-right:10px;
}

.blog-new-right-categories{
	
}


.blog-new-right-categories ul{
	margin:0;
	padding:0;
}

.blog-new-right-categories ul li{
	list-style:none;
	padding:15px 20px;
	line-height:18px;
	border-bottom:#e3e6e3 solid 1px;
	}
	
.blog-new-right-categories ul li a{
	font-family: "Avenir LT 45 Book";
	font-size:14px;
	color:#788287;
	}
	
.blog-new-right-categories ul li span{
	text-align:center;
	float:right;
	font-family: "Avenir LT 45 Book";
	font-size:14px;
	color:#788287;
}

.blog-tabs{
	background:#828d93 !important;
	height:37px !important;
	padding-top:13px !important;
	padding-left:15px !important;
	border-bottom:#616d73 solid 1px !important;
}

.blog-tabs li{
	list-style:none;
	background:none !important;
	border:0 !important;
	line-height:36px !important;
	font-size:14px !important;
	font-family: "Avenir LT 65 Medium";
}

.blog-tabs li a{
	padding:0 20px !important;
	color:#ffffff !important;
	}

.blog-tabs li.ui-state-active a{
	background:#FFF;
	border-bottom:#FFFFFF solid 1px; !important;
	position:relative;
	border-radius:3px 3px 0 0;
	bottom:-1px;
	color:#4a565c !important;
}

.blog-panes{}

.blog-panes ul{
	margin:0;
	padding:0;
	}
	
.blog-panes ul li{
	list-style:none !important;
	padding:10px 20px !important;
	line-height:18px !important;
	border-bottom:#e3e6e3 solid 1px !important;
	font-size:14px;
	color:#788287;
	font-family: "Avenir LT 65 Medium";
}

.blog-panes ul li a{
	color:#788287;	
}

.blog-new-ad{
	
}

.blog-new-ad{
	
}

.blog-new-ad ul{
	margin:0;
	padding:0;
}

.blog-new-ad ul li{
	list-style:none;
	width:47.7%;
	margin-right:3.7%;
	margin-bottom:14px;
	float:left;
}

.blog-new-ad ul li img{
	border:#eff2ee solid 9px;
	}
	
.blog-new-ad ul li:last-child{
	margin-right:0 !important;
}

.blog-new-psginastion-wrap{
	text-align:center;
	padding:40px 0 0 0;
}

.blog-new-psginastion{
	display:inline-block;
}

.blog-new-psginastion ul{
	margin:0;
	padding:0;
}

.blog-new-psginastion ul li{
	list-style:none;
	margin-right:5px;
	float:left;
    font-family: "Avenir LT 95 Black";
	color:#a8afb3;
	font-size:14px;
	}
	
.blog-new-psginastion ul li a{
	background:#fbfaf9;	
	color:#a8afb3;
	border-radius:3px;
	border:#e5e6e5 solid 1px;
	display:block;
	line-height:34px;
	transition: all 0.3s ease-in-out 0s;
	width:34px;
	text-align:center;
    font-family: "Avenir LT 95 Black";
}

.blog-new-psginastion ul li a:hover{
	background:#4a565c;
	color:#FFF;
	border-radius:100px;
	border:#4a565c solid 1px;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-psginastion ul li a.active{
	background:#4a565c;
	color:#FFF;
	border-radius:100px;
	border:#4a565c solid 1px;
	transition: all 0.3s ease-in-out 0s;
}

.blog-new-psginastion ul li:first-child a{
	width:auto;
	padding:0 12px;
}

.blog-new-psginastion ul li:last-child a{
	width:auto;
	padding:0 12px;
}

.blog-detail-disc{

	}

.blog-new-list-detail{
	color: #788287;
    font-size: 16px;
    line-height: 28px;
}

.blog-new-list-detail a{
	color:#a5ca37;
}	

.blog-new-list-detail ul{
	margin:0;
	padding:0;
}

.blog-new-list-detail ul li {
    background: url("../images/blog-detail-bullet.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
    list-style: none outside none;
    margin-bottom: 7px;
    padding-left: 20px;
}


.blog-new-list-detail h4 {
    color: #4A565C;
    font-family: "Avenir LT 95 Black";
    font-size: 22px;
    line-height: 36px;
    margin: 20px 0;
}

.blog-detail-point ul li{
	width:41%;
	float:left;
	padding-right:5%;
}

.blog-search {
    float: right;
    height: 36px;
    padding-left: 1.5%;
    width: 29.1%;
}

.blog-new-detail-author{
	padding:20px;
	border:#e5e6e5 solid 2px;
	border-left:0;
	border-right:0;
}

.blog-new-detail-author-left{
	width:23.6%;
	float:left;
	padding-top:8px;
}

.blog-new-detail-author-right{
	width:73.5%;
	float:right;
}


.blog-new-detail-author-right{
	font-size:16px;
	color:#788287;
	line-height:28px;
	}
	
.blog-new-detail-author-right span{
	display:block;
	font-size:20px;
	color:#4a565c;
	font-family: "Avenir LT 65 Medium";
	padding-bottom:5px;
}

.blog-new-detail-author-right span strong{
    font-family: "Avenir LT 95 Black";	
	font-weight:normal;
}

.blog-new-detail-author-social-icon{
	margin:0 auto;
	display:inline-block;
	background:url(../images/blog-new-detail-author-social-icon.png);
	width:144px;
	height:16px;
	margin-top:10px;
	
}

.blog-new-detail-author-social-icon a{
	float:left;
	display:block;
	height:16px;
}

.blog-new-detail-author-social-facebook{
	width:28px;
	}
	
.blog-new-detail-author-social-twitter{
	width:39px;
	}
	
.blog-new-detail-author-social-google{
	width:39px;
}

.blog-new-detail-author-social-linkedin{
	width:38px;
}

.blog-new-comment{
	margin:20px 0;
	}



/*-----------------Blog Format Start------------*/

/*Image Right*/
.blog-detail-left-img{}

.blog-detail-left-img img{
 float:left;
 margin-right:20px;
}

.blog-detail-right-img{}

.blog-detail-right-img img{
 float:right;
 margin-left:20px;
}

/*Image and Point*/
.blog-detail-img-point{
	}

/*Only Point*/
.blog-detail-point‏‏{}
	
/*-----------------Blog Format Close------------*/

h3.archive-title{
	color: #4A565C;
	font-family: "Avenir LT 95 Black";
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 10px;
}
h3.spage-title{
	color: #4A565C;
	font-family: "Avenir LT 95 Black";
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 10px;
}

/*-------------------TV Start----------------*/

.etraffic-tv{
	max-width:980px;
	margin:0 auto;
	padding:60px 10px;
}

.etraffic-tv-list{
	
}

.etraffic-tv-list > ul{
	margin:0;
	padding:0;
}

.etraffic-tv-list > ul > li{
	list-style:none;
	float:left;
	width:31.3%;
	float:left;
	margin-right:3%;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.14);
	margin-bottom:25px;
}

.etraffic-tv-list > ul > li:last-child{
	margin-right:0;
}

.etraffic-tv-list ul li h4{
    font-family: "Avenir LT 95 Black";	
	font-size:20px;
	color:#4a565c;
	margin:20px 20px 15px 20px;
}

.etraffic-tv-list ul li h4 a{
	color:#4a565c;
}

.etraffic-tv-author-date{
	font-size:14px;
	color:#788287;
	margin:0 20px 55px 20px;
}

.etraffic-tv-author-date span{
	color:#a5ca37;
}

.comment-video{
	background:#f9f9f9;
	padding:10px 20px;
	box-shadow:inset 0 1px 2px rgba(224, 224, 224, 1);
	display:block;
	position:relative;
}


.comment-video ul{
	margin:0;
	padding:0;
	}
	
.comment-video ul li{
	list-style:none;
	width:45%;
	float:left;
}

.comment-video ul li:last-child{
	float:right;
	text-align:right;
}


.comment-video ul li a{
	color:#788287;
	font-size:14px;
	font-family: "Avenir LT 65 Medium";	
	}

.comment-video ul li:last-child  a{
	color:#b3c725;
	text-align:right;
}

.comment-video-arrow{
	background:url(../images/comment-video-arrow.png) no-repeat center top;
	height:16px;
	position:absolute;
	top:-13px;
	width:48px;
	left:50%;
	margin-left:-24px;
}

.etraffic-tv-detail-title{}

.etraffic-tv-detail-title h3{
    font-family: "Avenir LT 95 Black";	
	font-size:32px;
	color:#4a565c;
	line-height:36px;
	margin-bottom:15px;
}

.tv-detail-comment{
	display:inline-block;
	float:right;
}

#etraffic-tv-detail{}

#etraffic-tv-detail .etraffic-tv-author-date{
	margin:0 0 20px 0;
}

.blog-detail-disc iframe{
	width:100%;
	height:359px;
}

.blog-new-left{
	float:left;
	width:65.9%;
}

.blog-new-right{
	float:right;
	width:30.6%;
}

.blog-etraffic-tv{
	text-align:center;
	}


/*-------------------TV Close----------------*/
.our-client ul li.active img{
 filter: grayscale(0%);
 -webkit-filter: grayscale(0%);
 filter: none;
 transition: all 0.3s ease-in-out 0s;
}


.rtw_main{
	color:#788287 !important;
}

.rtw_main a{
	color:#3b5998 !important;
}

.banner-arrow{
	position:absolute;
	background:url(../images/banner-arrow.png) no-repeat;
	width:247px;
	height:172px;
	top:-7px;
	left:50%;
	margin-left:-125px;
}
.banner-play-btn{
	background:url(../images/banner-play-btn.png) no-repeat;
	width:126px;
	height:74px;
	position:absolute;
	left:0;
	top:70px;
	right:0;
	bottom:0;
	margin:auto;
}
.contact-banner2 {
	color: #FFF;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 515px;
	max-width: 980px;
	cursor: pointer;
	margin-right: 25%;
	font-size: 20px;
	line-height: 30px;
	right: 0;
}
.contact-captcha{
	position:relative;
}
.contact-captcha span.wpcf7-not-valid-tip{
	margin-top:40px;
}
.contact-banner2 a {
color: #FFF;
}

/*---------------------------Multi select Start-------------------------*/


.wrapper-dropdown-4 {
    /* Size and position */
    position: relative;
    width: 96%;
    margin: 0;
    padding: 10px 2% 10px 2%;

    /* Styles */
    background: #E8EBE8;
    border: 2px solid #CACCCA;
    cursor: pointer;
    outline: none;
	
    color: #272F33;
    font-family: "Avenir LT 65 Medium";
    font-size: 12px;
	z-index:1;
   color: #272F33;
    font-size: 14px;
}

.wrapper-dropdown-line{
	position:absolute;
	width:2px;
	height:100%;
	background:#CACCCA;
	top:0;
	right:33px;
	}

.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #caccca transparent;
}

.wrapper-dropdown-4 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;

    /* Styles */
    background: white;
    border: inherit;
    border-top: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

/* Red lines: the pseudo-elements way */
.wrapper-dropdown-4 .dropdown:before,
.wrapper-dropdown-4:before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    /*border: 1px solid #ffaa9f;*/
    border-top: none;
    border-bottom: none;
    z-index: 2;
}
.wrapper-dropdown-4 .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
	z-index:1234;
}

.wrapper-dropdown-4 .dropdown li label {
    display: block;
    padding: 10px 10px 10px 10px; /* Same padding as the button */
    border-bottom: 1px dotted #1ccfcf;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-4 .dropdown li:last-of-type label {
    border: none;
}

.wrapper-dropdown-4 .dropdown li input /* Checkboxes */ {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

/* Hover state */

.wrapper-dropdown-4 .dropdown li:hover label {
    background: #E8EBE8;
}

/* Checked state */

.wrapper-dropdown-4 .dropdown li input:checked ~ label {
    color: grey;
    text-decoration: line-through;
}

/* Active state */

.wrapper-dropdown-4.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       wrapper-dropdown-4 .dropdown,
.no-pointerevents .wrapper-dropdown-4 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-4.active .dropdown,
.no-pointerevents .wrapper-dropdown-4.active .dropdown {
    display: block;
}
/*------------*/

.contact-form input[type=checkbox]{
	width:13px;
	height:13px;
}

.wrapper-dropdown-4{
	z-index:1;
	
	}

.dropdown{
	margin:0;
	padding:0;
	z-index:123456 !important;
}

.dropdown li{
	z-index:123456 !important;
}

.multi-select{
	width:46%;
	margin-right:4%;
	float:left;
	margin-bottom:20px;
	padding-top:15px;
	position:relative;
}

	
/*-------------*/

.selectdiv {
    width:100%;
    border:2px solid #CACCCA;
    height:36px;
    background:url(../images/select-arrow.jpg) no-repeat right center #E8EBE8;
 /*   background:#E8EBE8;*/
    border-radius:0px;
    cursor:pointer;
	
}/*
.selectdiv:hover, .selectdiv:focus {
    width:220px;
    border:1px solid #ccc;
    height:25px;
    background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right;
    border-radius:3px;
    cursor:pointer;
}*/
.selectdiv div {
    z-index:-1;
    border:0px solid #000;
    height:23px;
    overflow:hidden;
    padding:1px 0px 0px 5px;
    cursor:pointer;
}
.selectboxdiv {
    height: 25px;
    left: 9px;
    margin-top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    cursor:pointer;
	left:0;
}
.multi-select .out{
    color: #272F33;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0px 2%;
    width: 96%;
}

.wrapper-dropdown-4 .dropdown li label{
	border-bottom:#CACCCA solid 1px;
	margin:0; 
	}

/*--------------New-contact--------------------*/

.contact-address{
	max-width:350px;
}

#header-pattern{
	height:700px;
	}

.new-contact{
	max-width:1180px;
	position:absolute;
	margin:auto;
	left:0;
	top:200px;
	right:0;
	bottom:0;
	height:600px;
	
	color:#FFF;
	font-size:20px;
	line-height:30px;
}

.new-contact a{
	color:#FFF;
}

#contact-address2{
	float:right;
	margin-top:30px;
	}
	
/*--------------New-contact close--------------------*/

.our-client{
	position:relative;
	overflow:hidden;
}

.our-client-slider-arrow{
	width:100%;
	text-align:center;
	margin-top:20px;
	}

.our-client-slider-next{
	background:url(../images/services-category-arrow.png) no-repeat;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Safari and Chrome */
	width:53px;
	height:53px;
	transition: all 0.3s ease-in-out 0s;
	opacity:0.2;
	cursor:pointer;
	z-index:1234;
	display:inline-block;
	margin: 0 10px
} 

.our-client-slider-next:hover{
	opacity:1;
	transition: all 0.3s ease-in-out 0s;
	}

.our-client-slider-prev{
	background:url(../images/services-category-arrow.png) no-repeat;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	width:53px;
	height:53px;
	transition: all 0.3s ease-in-out 0s;
	opacity:0.2;
	cursor:pointer;
	z-index:1234;
	display:inline-block;
	margin: 0 10px
} 

.our-client-slider-prev:hover{
	transition: all 0.3s ease-in-out 0s;
	opacity:1;	
}

.what-we-do ul li{
 white-space:normal !important;
}

.what-we-do .our-client-slider-prev{
 opacity:0.6;
 }
 
.what-we-do .our-client-slider-next{
 opacity:0.6;
 }
 
.what-we-do .our-client-slider-prev:hover{
 opacity:1;
 }
 
.what-we-do .our-client-slider-next:hover{
 opacity:1;
 }
.bannerControls .rightNav{
 background:url(../images/services-category-arrow.png) no-repeat;
 transform: rotate(270deg);
 -ms-transform: rotate(270deg); /* IE 9 */
 -webkit-transform: rotate(270deg); /* Safari and Chrome */
 width:63px !important;
 height:53px !important;
 transition: all 0.3s ease-in-out 0s;
 opacity:0.5;
 cursor:pointer;
 z-index:1234;
 display:inline-block;
 margin: 0 10px;
 visibility:visible !important;
 display:block !important;
z-index:123489;
} 

.bannerControls .rightNav:hover{
 opacity:1;
 transition: all 0.3s ease-in-out 0s;
 }


.bannerControls{
 width:100%;
 }

.bannerControls .leftNav{
 background:url(../images/services-category-arrow.png) no-repeat 10px 0 !important;
 transform: rotate(90deg);
 -ms-transform: rotate(90deg); /* IE 9 */
 -webkit-transform: rotate(90deg); /* Safari and Chrome */
 width:63px !important;
 height:53px !important;
 transition: all 0.3s ease-in-out 0s;
 opacity:0.5;
 cursor:pointer;
 z-index:1234;
 display:inline-block;
 margin: 0 10px;
 visibility:visible !important;
 display:block !important;
 
} 

.bannerControls .leftNav:hover{
 transition: all 0.3s ease-in-out 0s;
 opacity:1; 
}


.services-design-slider{
	overflow:hidden;
}

.services-design-slider ul{
	display:block;
}

.services-design-slider ul li{
	white-space:normal !important;
	float:left;
	list-style:none;
	min-height:300px;
}

.services-design-left img{
	max-width:80% !important;
}
.twitter-box-bg{
	padding-top:30px;
}

.follow-us-on-twitter{
	margin-top:0;
}

/*--------------------Website Health Check-----------------------*/

.contact-address-address p{
	margin:0;
	padding:0;	
}

.website-health-check{
 width:502px;
 background:#4a565c;
 z-index:1235;
}

.blog-new-right .website-health-check{
	display:none;
}

.website-health-check-title{
    font-family: "Avenir LT 95 Black"; 
 font-size:28px;
 color:#FFF;
 padding:40px 0 30px 0;
 text-align:center;
 position:relative;
 border-bottom:#3b454a solid 1px;
 display:block;
 width:100%;
}

.website-health-check-close{
 background:url(../images/website-health-check-clode.jpg) no-repeat;
 width:32px;
 height:32px;
 position:absolute;
 right:0;
 top:0;
}

.website-health-check-close a{
 display:block;
 width:32px;
 height:32px;
 }
 
.website-health-check-form{
 border-top:#5c676d solid 1px;
 padding:30px 58px;
}

.website-health-check-form-data{
 
}

.website-health-check-form-data p{
 margin:0 0 15px 0;
 padding:0;
}

.website-health-check-form-data input{
 font-family: "Avenir LT 65 Medium";
 background:#e8ebe8;
 border:#caccca solid 1px;
 height:36px;
 width:90%;
 padding:0 5%;
 font-size:12px;
 color:#272f33;
 text-transform:uppercase;
}

.website-health-check-form-get-report{
 background:url(../images/get-report-arrow.jpg) no-repeat #f8f8f8;
 padding:30px 0;
 text-align:center;
 }
 
input.get-report-btn{
    font-family: "Avenir LT 95 Black";
 border:0;
 width:245px;
 height:40px;
 padding:0;
 line-height:40px;
 text-align:center;
 margin:0 auto;
 font-size:12px;
 color:#FFF;
 text-transform:uppercase;
 background:#a5ca37;
 border-radius:3px;
 cursor:pointer;
 letter-spacing:0.08em;
}

/*--------------------Website Health Check-----------------------*/


.blog-new-ad ul li img{
	max-width:125px;
	max-height:125px;

}

.blog-new-ad h4{
	background: none repeat scroll 0 0 #4A565C;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    font-family: "Avenir LT 95 Black";
    font-size: 16px;
    line-height: 49px;
    padding: 0 0 0 20px;
    text-transform: uppercase;
}
.reason-to-choose-us-wrap .showreel{
	display:none;
	width:900px;
}
.reason-to-choose-us-wrap .clientsay{
	display:none;

}
.clientsay{
	
}

.showreel{
	width:900px;
}

#wistia_27_socialbar{
	 display:none !important;
}
#wistia_3op0vpb5fz_grid_below{
	 display:none !important;
}

 .banner-video-close{
	height: 44px;
	width: 44px; 
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	z-index:123456;
	background:url(../images/banner-popup-close.png) no-repeat;
}
.banner-video-close a{
 font-family:Arial, Helvetica, sans-serif;
 font-size:15px;
 height: 44px;
    line-height: 44px;
 display:block;
 color:#000;
}
#fancybox-wrap{
	z-index:1234 !important;
}
.blog-new-right .tvpopup{
	display: none;
	height: 510px; 
	width: 900px;
}
.wistia_embed{width: 900px !important;height: 510px !important;}
.other-work-centers-address a{
	color:#FFF;
}
.our-works-wrap .clientsay{
	display: none;
}





.mobile-social{
	background:url(../images/mobile-social-bg.jpg);
	height:50px;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:1234;
	display:none;
}

.mobile-social ul{
	margin:0;
	padding:0;
}

.mobile-social ul li{
	list-style:none;
	float:left;
	width:14.25%;
}

.mobile-social ul li:last-child a{
	border:0;
}

.mobile-social ul li a{
	display:block;
	text-align:center;
	height:50px;
	line-height:50px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:26px;
	color:#FFF;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top:12px;
	border-right:#fff dashed 1px;
	transition: all 0.3s ease-in-out 0s;
}
	
.mobile-social ul li a:hover{
	opacity:0.7;
	transition: all 0.3s ease-in-out 0s;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-facebook:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e602";
}

.icon-youtube:before {
	content: "\e600";
}

.icon-google-plus:before {
	content: "\e605";
}

.icon-linkedin:before {
	content: "\e604";
}

.icon-pinterest:before {
	content: "\e603";
}

.icon-yelp:before {
	content: "\e601";
}


/*----------------------------------------18-2-14-----------------------------*/

.header-wrap{

	background:url(../images/banner-new1.jpg) no-repeat scroll center center / cover;
	background-position: center center;
	}

.header-pattern{
	height:100%;
	background:url(../images/pattern-new-banner.png);
	background:none;
}

.banner-text{

	background:url(../images/new-banner-text-bg.png);
	padding:45px 0;
	font-family: "Avenir LT 95 Black";
	font-family: "Avenir LT 45 Book";
	font-size:32px;
	font-weight:normal;
	margin-top:143px;
	width:100%;
}

.banner-text h1{
	font-family: "Avenir LT 45 Book";
	font-size:78px;
	line-height:normal;
}

.banner-video-bg{
	background:none;
}

.banner-new-showreel{
	width:343px;
	background:rgba(141, 198, 63, 0.4);
	z-index:1234;
	margin:0 auto;
	border-radius:20px;
	font-size:49px;
	color:#FFF;
	display:inline-block;
	font-family: "Avenir LT 45 Book";
	height:107px;
	line-height:50px;

}

.banner-new-showreel a{
	color:#FFF;
	display:block;
	padding:0 15px;
	}
	
.banner-new-showreel span{
	font-size:30px;
	line-height:30px;
	}


/*----------------------------------------18-2-14 Close-----------------------------*/

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------MEDIA CSS---------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/


@media (max-height: 700px) {

.banner-text{
	margin-top:40px;
	font-size:20px;
}

.banner-text h1{
	font-size:40px;
}

.banner-video-bg{
	margin-top:30px;
}

}



@media (max-width: 1400px) {
.banner-text{
	margin-top:60px;
}

.banner-text h1{
	font-size:60px;
}

.banner-video-bg{
	margin-top:60px;
}

}




@media (max-width: 1024px) {
.banner-video-bg{
	margin-top:60px;
}

}


@media (max-width: 1000px) {

.logo{
	left:10px;
}


.banner-text{
	margin-left:0;
	left:0;
	width:auto;
}

.nav-wrap{
	min-height:35px;
}

nav{
	display:none;
}

.nav-responsive{
	display:block;
}

.nav-m{
	display:100%;
	text-align:right;
	position:relative;
	display:block;
	z-index:123;
}

.nav-m a{
	
	}
	
.nav-icon{
	background:url(../images/nav-icon.png) no-repeat;
	width:39px;
	height:38px;
	float:right;
	z-index:123;
	display:block;
	padding-bottom:10px;
	margin-right:10px;
}

.nav-m ul{
	margin:0;
	padding:0;
	width:100%;
	text-align:left;
	background:url(../images/nav-pattern.jpg);
}

.nav-m ul li{
	list-style:none;
	padding:00px 10px;
	background:url(../images/nav-pattern.jpg);
	white-space:nowrap;
	}
	
.nav-m ul li:first-child{
	padding-top:100px;
	}
	
.nav-m ul li:last-child{
	padding-bottom:20px;
	}
	
.nav-m ul li a{
	display:block;
	transition: all 0.3s ease-in-out 0s;
	font-size:14px;
	color:#FFF;
	text-transform:uppercase;
	line-height:38px;
	font-family: "Avenir LT 95 Black";
	padding:0 10px;
	display:block;
	}
	
.nav-m ul li a:hover{
	color:#000;
	transition: all 0.3s ease-in-out 0s;
	}
	
.nav-m ul li a.active{
	color:#000;
}

.contact-banner{
	margin-left:2%;
	}

.our-process{
	display:none;
	}
	
}


@media (max-width: 900px) {
.work-detail-view-share{
	margin-top:25px;
	}

.our-process-tab{
	margin:20px 0;
}

.services-detail-content-left{
	display:none;
	}
	
.services-detail-content-right{
	float:none;
	width:100%;
	}

	
}


@media (max-width: 768px) {
	
.logo{
	left:10px;
}
.nav-wrap{
	min-height:35px;
}

nav{
	display:none;
}


}


@media (max-width: 767px) {


	
.other-work-centers ul li{
	width:48%;
	float:left;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:#4d5457 solid 1px;
	}
	
.other-work-centers ul li a.active{
	padding-top:5px;
}

.about-index-title{
	font-size:40px;
	}
	
#slider{
	width:50% !important;
	}
	
.about-index-left{
	width:100%;
	float:none;
	margin-bottom:20px;
	}
	
.about-index-right{
	width:100%;
	float:none
}

/*.our-client ul li{
	width:50%;
	float:left;
	} */
	
.from-our-journal ul li{
	float:none;
	width:100%;
	padding:0;
	padding-bottom:20px;
	padding-top:20px;
	border-bottom:1px solid #4D5457;
	text-align:center;
	border-right:0;
}

.from-our-journal ul li:last-child{
	border-bottom:0;
	}
	
.from-our-journal-by{
	width:100%;
	float:none;
	margin:20px 0;
	}
	
.from-our-journal-disc{
	width:100%;
	float:none;
	}
	
.twitter-box{
	width:100%;
	float:none;
	border-right:0;
	border-bottom:1px solid #4D5457;
	margin-right:0;
	padding-right:0;
	}
	
.facebook-box{
	width:100%;
	float:none;
	margin-top:20px;
	margin-right:0;
	}
	
	
.other-social-links ul li{
	padding:10px 10px;
	height:40px;
}

.facebook-box-inner{
	margin:0 auto;
	}
	
.banner-video-bg{
	display:none;
	}
	
.header-wrap-inner h2{
	font-size:45px;
	line-height:50px;
}

.service-category ul li{
	float:none;
	width:100%;
	margin-bottom:30px;
	}
	
.service-category ul li:last-child{
	float:none;
	width:100%;
	}
	
.services-content-left{
	width:100%;
	float:none;
	}
	
.services-content-right{
	width:100%;
	float:none;
	}
	
.webdesign-service-banner-title{
	font-size:38px;
	}
	
.services-detail-welcome-text img{
	float:none;
	margin:0 auto 20px auto;
	display:block;
	}
	
.services-detail-content-left{
	display:none;
	}
	
.services-detail-content-right{
	float:none;
	width:100%;
	}
	
.what-we-do-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	display:none
	}
	
.why-us-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	display:none
	}
	
.key-features-icon{
	background:url(../images/what-we-do-icon-hover.png) no-repeat;
	transition: all 0.3s ease-in-out 0s;
	display:none
	}
	
.services-detail-tabs-nav ul{
	margin-top:40px;
	}
	
.services-detail-tabs-nav ul li{
	width:100%;
	margin:0;
	display:block;
	margin-bottom:10px;
	}
	
.services-detail-tabs-nav ul li span{
	display:inline-block;
	}
	
.services-detail-content-right{
	padding-top:150px;
	}
	
.work-detail-view-site{
	float:none;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	}
	
.work-detail-view-share-social{
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.our-work-detail-brief-img{
	width:100%;
	float:none;
	margin:0;
	margin-bottom:20px;
	text-align:center;
	}
	
.work-detail-text-left{
	width:100%;
	float:none;	
	margin-bottom:25px;
}

.work-detail-text-right{
	width:100%;
	float:none;	
}


.work-detail-portfolio-slider-wrap .contentHolderUnit img{
	width:100% !important;
	height:auto !important;
}

.contact-banner{
	margin-right:2%;
	}


.header-wrap{
	/*background:url(../images/bg-img.jpg) no-repeat center top;
	background:url(../images/mobile-social-bg-pattern.png) #203643;
	background-size:cover;*/
	height:800px;
	overflow:hidden;
	position:relative;

}

.header-pattern{
	background:url(../images/video-pattern.png);
	position:absolute;
	width:100%;
	/*height:100%;*/
	bottom:0;
}

.contact-form p{
	width:100%;
	margin-right:0%;
}

.contact-captcha input{
	width:37%;
	}

input.submit{
	margin-left:0px !important;
	margin-top:20px;
	width:100% !important;
	}
	
.blog-nav{
	width:100%;
	float:none;;
	}

.blog-search{
	width:96.7%;
	float:none;
}

.blog-detail-left{
	width:100%;
	float:none;
	}
	
.blog-detail-right{
	width:100%;
	float:none;
	}
	
.blog-img-left{
	width:100%;
	margin:0 auto;
	margin-bottom:20px;
	float:none;
	}
	
.blog-img-right{
	width:100%;
	margin:0 auto;
	float:none;
	margin-bottom:20px;
	}
	
.blog-detail-img-point ul{
	width:100%;
	float:none;
}

.most-popular ul li{
	width:100%;
	margin-right:0;
	margin-bottom:30px;
	float:none;
}

.blog-detail-point ul li{
	width:90%;
	float:none;	
	}

.blog-comment-left{
	float:none;
	width:100%;
	padding-bottom:20px;
	text-align:center;
}

.blog-comment-right {
	border-left:0;
    border-top: 1px solid #E5E6E5;
    float: left;
    font-size: 16px;
    line-height: 28px;
    padding-left: 0%;
    width: 100%;
	padding-top:20px;
}
.menu-menu2-container{
}
.menu-menu2-container ul{
	list-style-type: none;
}
.menu-menu2-container ul li{
	color: #788287;
	display: inline;
}
.menu-menu2-container ul li:last-child span{
	display: none;
}
.tweets li{
	list-style-type: none;
	font-size: 16px;
	color: #FFF;
	line-height: 24px;
	text-align: center;
	padding: 40px 20px 30px 20px;
}
p.logged-in-as{
	float: right !important;
}

.process-tab{
	width:100%;
	float:none;
	margin-bottom:20px;
	}
	

	
.process-tab-disc{
	width:100%;
	float:none;
	}
	
.reason-to-choose-us-wrap .allinone_carousel.sweet .contentHolderUnit {
	position:absolute;
	width:300px;
	height:auto;
}
	
/*-------------------*/

.ourHolder li {
    float: none;
    list-style: none outside none;
    margin-bottom: 30px;
    margin-right: 0%;
    text-align: center;
    width: 100%;
}


#filterOptions{
	width:100%;
	}

#filterOptions li {
    border-right:0px dashed #CACCCA;
    border-bottom:1px dashed #CACCCA;
    display:block;
    list-style: none outside none;
    padding: 0 20px;
    white-space: nowrap;
}

.quick-insite{
	display:block !important;
	margin:30px auto 30px auto !important;
	float:none !important;
}

.view-detail{
	display:block !important;
	margin:0 auto 0 auto !important;
	float:none !important;
	clear:left;
	}

.about-left{
	float:none;
	width:100%;
	margin-right:0;
	margin-bottom:30px;
}

.about-right{
	float:none;
	width:100%;
	margin-right:0;
}

.our-team-nav li{
display: block;
white-space: nowrap;
border-right: #caccca dashed 0px;
border-bottom: #caccca dashed 1px;
}

.our-team-nav li:last-child{
border-bottom: #caccca dashed 0px;
}

.our-team ul li{
	width:100% !important;
	float:none;
	margin:0 0 20px 0;
}
.twitter-box-bg{
    height: 265px;
    padding: 30px 8% 0 10%;
}
.blog-detail-left-img img{
 float:none;
 margin-right:0px;
 margin-bottom:20px;
}

.blog-detail-right-img img{
 float:none;
 margin-left:0px;
 margin-bottom:20px;
}

.blog-new-left{
	width:100%;	
	float:none;
	margin-bottom:30px;
}
	
.blog-new-right{
	width:100%;
	float:none;
}

.blog-new-author{
	float:none;
	width:100%;
	padding:0;
	margin-bottom:20px;
}

.blog-new-post{
	float:none;
	width:98%;
	padding:0 1%;
}

.blog-new-detail-author-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.blog-new-detail-author-right{
	width:100%;
	float:none;
}


/*-------------tv----------*/
.etraffic-tv-list > ul > li{
	width:100%;
	margin-right:0;
	margin-bottom:25px;
	text-align:center;
	}
	
.blog-new-left{
	width:100%;
	float:none;
	margin-bottom:30px;
	}
	
.blog-new-right{
	width:100%;
	float:none;
	}

/*	
.wrapper-dropdown-4 {
	width:94%;
}*/
	
.multi-select{
	width:100%;
	margin-right:0%;
	float:none;
}

.contact-address{

	}
	
.contact-banner2{
	margin-right:auto;
	margin-left:25%;
	}
.services-detail-tabs-next{
top:8%
}

.services-detail-tabs-prev{
top:8%
}	
 .services-detail-tabs-next{
 z-index: 12345;
}
.services-detail-tabs-prev{
 z-index: 12345;
}
#filterOptions li {
	border-bottom: 1px dashed #CACCCA;
    border-right: 0 dashed #CACCCA;
    display: block;
    white-space: nowrap;
	float:none;
}

.website-health-check{
 max-width:502px;
width:auto;
}


.services-detail-tabs1{
	height:1200px;
}

.services-detail-tabs2{
	height:1200px;
}

.services-detail-tabs3{
	height:1200px;
}

.services-design-left{
	width:100%;
	float:none;
	margin-bottom:20px;
	text-align:center;
}

.services-design-left img{
	max-width:100%;
	width:auto !important;
}

.services-design-right{
	width:100%;
	float:none
}

.services-design-right h3{
	text-align:center;	
}

.services-design-slider .item { width:300px; float:left; margin-right:20px;
}
.wistia_embed{width: 300px !important;height: 170px !important;}


.banner-video{
	display:none;
}


.services-detail-tabs1{
	overflow:hidden;
}

.services-detail-tabs2{
	overflow:hidden;
}

.services-detail-tabs3{
	overflow:hidden;
}

.mobile-social{
	display:block;
}

.banner-text{
	font-size:20px;

}

.banner-text h1{
	font-size:32px;

}

.banner-video-bg{
	display:block;
}


.banner-text{
	margin-top:50px;
}

}


@media (max-width: 320px) {
.nimble-portfolio ul li{
 margin-right:0 !important;
 width:100% !important;
float:none !important;
}

.nimble-portfolio-list li:hover div h4{
    bottom:15%;
    transition: all 0.5s ease-in-out 0s;
}

/*.our-client ul li{
width:320px !important;
text-align: center;
}*/

.header-wrap-inner h2{
	font-size:35px;
}

.our-work-detail-brief{
	overflow:hidden;
	max-width:320px;
}

.work-detail-view-share-social > span{
	display:block;
	float:none;
}

}


