
div.timeline {
    position: relative;
	overflow:hidden;
    margin:0px auto 120px auto;
	max-width:940px !important;
	padding-top:75px;
}

/* Column */
div.timeline.dual div.column_left {
    width: 50%;
    float: left;
	margin-top:30px !important;
}
div.timeline.dual div.column_right {
    width: 50%;
    float: right;
	margin-top:30px !important;
}
div.timeline.left div.column_left,
div.timeline.right div.column_right,
div.timeline.center div.column_center {
    width: 100%;
    float: none;
    margin-top: 0px;
}

/* Date Separator */
div.timeline div.date_separator {
    clear: both;
    text-align: center;
    height: 60px;
    position: relative;
}
div.timeline div.date_separator span {
    position: absolute;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    top: -200%;
    margin-top: -16px;
    font-size: 14px;
    border-radius: 5px;
    filter:alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
div.timeline div.date_separator.animated span {
    top: 50%;
    filter:alpha(opacity=100);
    opacity: 1;
}
div.timeline.dual div.date_separator span,
div.timeline.center div.date_separator span {
    left: 50%;
    margin-left: -50px;
}
div.timeline.left div.date_separator span {
    right: 0px;
}
div.timeline.right div.date_separator span {
    left: 0px;
}

/* Spine */
div.timeline div.spine {
    position: absolute;
    top: 0px;
    bottom: 100%;
    width: 1px;
    border-radius: 2px;
    -webkit-transition: bottom 0.5s linear;
       -moz-transition: bottom 0.5s linear;
        -ms-transition: bottom 0.5s linear;
         -o-transition: bottom 0.5s linear;
            transition: bottom 0.5s linear;
}
div.timeline div.spine:before{
	content:"";
	background-image:url(../images/time-line-logo.png);
	color:#fff;
	font-size:24px;
	font-family: 'ProximaNova-Bold';
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	width:90px;
	height:90px;
	line-height:80px;
	margin-left:-45px;
}
div.timeline.dual div.spine,
div.timeline.center div.spine {
    left: 50%;
    margin-left: -2px;
}
div.timeline.left div.spine {
    right: 4px;
}
div.timeline.right div.spine {
    left: 4px;
}
div.timeline div.spine.animated {
    bottom: 0%;
	background-color:#ccc
}
/* Element */
div.timeline_element {
    position: relative;
    margin: 10px 0px;
    opacity: 0;
    clear: both;
    border-radius: 5px;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.opacityFilter div.timeline_element {
    visibility: hidden;
}
.opacityFilter div.timeline_element.animated {
    visibility: visible;
}
div.timeline_element div.del {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 8px;
    text-transform: uppercase;
    padding: 4px 6px;
    text-shadow: none;
}
div.timeline_element:hover div.del {
    display: block;
}
div.timeline div.column_left div.timeline_element {
    float: left;
    margin-left:7px;
    left: 10%;
}
div.timeline div.column_right div.timeline_element {
    float: left;
    margin-left:34px;
    right: 10%;
}
div.timeline div.column_center div.timeline_element {
    margin: 20px auto;
}
div.timeline div.column_left div.timeline_element.animated {
    left: 0%;
    opacity: 1;
}
div.timeline div.column_right div.timeline_element.animated {
    right: 0%;
    opacity: 1;
}
div.timeline div.column_center div.timeline_element.animated {
    opacity: 1;
}
div.timeline_element:before {
    content: '';
    position: absolute;
    display: block;
    width: 26px;
    height: 0px;
}
div.timeline div.column_left div.timeline_element:before {
    top: 15px;
    right: -27px;
}
div.timeline div.column_right div.timeline_element:before {
    top: 15px;
    left: -27px;
}
div.timeline div.column_center div.timeline_element:before {
    display: none;
}
div.timeline_element:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
div.timeline_element:hover:after {
    z-index: 100;
}
div.timeline.dual div.column_left div.timeline_element:after {
    top: 10px;
    right: -36px;
}
div.timeline.dual div.column_right div.timeline_element:after {
    top: 10px;
    left: -36px;
}
div.timeline.left div.column_left div.timeline_element:after {
    top: 10px;
    right: -30px;
}
div.timeline.right div.column_right div.timeline_element:after {
    top: 10px;
    left: -30px;
}
div.timeline.center div.column_center div.timeline_element:after {
    display: none;
}

div.timeline_element div.title span.label {
    display: block;    
}
div.timeline_element div.title span.date {
    float: right;
	display:none;
}

/* new setting */

/* seo timeline start */
div#timeline div.timeline_element div.title{
	width:400px;
	padding:15px;
	color:#fff;
	display:block;
	text-align:left;
	font-size:18px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}
div#timeline div.timeline_element div.content{
	background-color:#fff;
	width:85%;
	padding:15px 2%;
	color:#666;
	text-align:left;
	border:#d7d9d7 solid 1px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-radius:5px;
	transition: all 0.3s ease-in-out 0s;
	font-size:16px;
	color:#788287;
	font-style:italic;
	text-align:center;
	}
	
div#timeline div.timeline_element div.content strong{
	font-weight:700;
}

div#timeline div.timeline_element div.content img{
	margin-bottom:15px;
	}
	
	
div#timeline div.timeline_element div.content h2{
	font-family: "Avenir LT 95 Black";
	color:#788287;
	font-size:16px;
	background:url(../images/black-line.jpg) center bottom no-repeat;
	text-align:center;
	padding-bottom:10px;
	margin-bottom:10px;
}
	
	
div#timeline div.timeline_element div.content p{
/*	color:#666;
	font-size:16px;*/
	}
div#timeline div.timeline_element div.content p strong{
/*	color:#666;
	font-size:16px;
	font-weight:normal;
	font-family: 'ProximaNova-Bold';*/
	}
div#timeline div.timeline_element.red .title{

	}
div#timeline div.timeline_element.yellow .title{

	color:#4c585e;
	}
div#timeline div.timeline_element.green .title{

	color:#4c585e
	}
div#timeline div.timeline_element.black .title{

	}
.column column_left:first-child{
	display:none;
	visibility:hidden
	}
div.arrow-dot{
	position:absolute;
	top:15px;	
	display:block;
	width:100%;
	background:url(../images/seo-black-dot.png) no-repeat;
	width:11px;
	height:11px;
	}
div#timeline div.timeline_element.black div.arrow-dot{
	background:url(../images/seo-black-dot.png) no-repeat;
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	right:-33px
	}
div#timeline div.timeline_element.yellow div.arrow-dot{
	background:url(../images/seo-black-dot.png) no-repeat;
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	right:-33px
	}
div#timeline div.timeline_element.red div.arrow-dot{
	background:url(../images/seo-black-dot.png) no-repeat;
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	left:-41px
	}
div#timeline div.timeline_element.green div.arrow-dot{
	background:url(../images/seo-black-dot.png) no-repeat;
	background-repeat:no-repeat;
	width:47px;
	height:20px;
	display:block;
	left:-41px
	}
	
.timeline{
	width:100% !important;
	}
	
.timeline_element{
	width:100% !important;
	}
	
.title{
	display:none !important;
	}
	
.content:hover{
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
	border:0;
	transition: all 0.3s ease-in-out 0s;
	}

.date_separator span{
	font-family: "Avenir LT 95 Black";
	font-size:14px;
	color:#4a565c;
	background:#fbfaf9;
	line-height:30px;
	}
	
p.what-we-do-link{
	margin:10px auto;
	width:100%;
	}


@media (max-width: 767px) {
div.timeline.dual div.column_left{
	width:100%;
	margin-bottom:20px;
	float:none;
	}
	
div.timeline.dual div.column_right{
	width:100%;
	margin-bottom:20px;
	float:none;
	}
	
.arrow-dot{
	display:none !important;
	}
	
div#timeline div.timeline_element div.content{
	width:92%;
	}
	
div.timeline div.column_right div.timeline_element{
	margin-left:7px !important;
	}
	
}